---
layout: default
title: ''
description: ''
keywords: ''
twitter-card:
twitter-site: ''
twitter-title: ''
twitter-description: '.'
twitter-image:
og-title: ''
og-url: http://www.wattsbags.com
og-image:
og-description: ''
og-sitename: 'Watts Bags'
fb-admins: ''
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Small in size but huge in features</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/athletic-trainer-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Trainer Bag 1</h1>
                    <p>The Trainer 1 kit has recently been redesigned by athletic trainers at one of the top universities in the nation. It was designed to organize everything you need while remaining a lightweight, compact bag.</p>

                    <p>
                        <strong>CUSTOM BAG FEATURES:</strong>
                        <ul>
                            <li>Embroidery options for up to 3 sides of the bag</li>
                            <li>Foam padding on all sides</li>
                            <li>Durable lightweight plastic throughout side walls for rigidity and protection</li>
                            <li>Padded shoulder strap </li>
                            <li>Padded carrying handle</li>
                            <li>Professional grade materials</li>
                            <li>5 outer pockets</li>
                            <li>8 interior pockets</li>
                            <li>2 interior mesh pockets</li>
                            <li>2 removable and adjustable dividers in the interior</li>
                        </ul>
                    </p>

                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="{{ site.baseurl }}/img/products/athletic-trainer-bags/trainer-bag1.jpg" border="0" alt="" />
                </div>
                </div>
        </div>
</section>


<section class="center">

<!-- Product -->
        <div class="category-row">
                <div class="col-sm-2">
                        <img class="lazy" data-original="{{ site.baseurl }}/img/products/athletic-trainer-bags/trainer-bag1.jpg" border="0" alt="" />
                </div>

                <div class="col-sm-6">
                        <h1>Trainer Bag 1</h1>

                        <ul>
                            <li><strong>Bag Weight:</strong> <span class="right">6 lbs</span></li>
                            <li><strong>External Dimensions:</strong> <span class="right">11" Deep x 13" Wide x 20" Long</span></li>
                            <li><strong>Internal Dimensions:</strong> <span class="right">10" Tall x 10" Wide x 14.5" Long</span></li>
                        </ul>
                        <a href="">Learn more about bag features</a>
                </div>

                <div class="col-sm-4">

                        <ul>
                            <li><strong>Available Colors:</strong> {% include colors.html %}</li>
                            <li><strong>Watts Wheel System:</strong> <span class="right">Yes</span></li>
                            <li><strong>Internal Divider Options:</strong> <span class="right">Yes</span></li>
                            <li><strong>Custom Embroidery:</strong> <span class="right">Yes</span></li>
                            <li class="price"><strong>Price:</strong> <span class="right">$XXX</span></li>
                        </ul>
                        <p><a href="/shop/athletic-trainer-bags/athletic-trainer-bag-1" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>

<!-- End Product -->

</section>
</div>
{% include testimonial.html %}