$base-font-size: 14px;

html {
    font-size: $base-font-size;
}

//PX to EM function
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

/* ******************************* Variables *******************************/
$primary: #E82B0F;
$secondary: #D6351F;
$light: #fff;
$medium: #7B756B;
$dark: #31302B;
$text: #333333;
$highlight: #FFCC00;

$protoA: #F7F3EB;
$protoB: #F0EFE9;

/* ******************************* Breakpoints *******************************/
$xs: 200px;
$sm: 500px;
$med: 769px;
$lg: 960px;
$xxl: 1200px;

/* ******************************* Mixin *******************************/

@mixin boxshadow($h: 0px, $v: 1px, $b:2px, $brand-color: rgba(0,0,0,.25)){
  -webkit-box-shadow : $h $v $b $brand-color;
  -moz-box-shadow : $h $v $b $brand-color;
  box-shadow : $h $v $b $brand-color;
}

@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}

@mixin text-shadow($x: 1px, $y: 1px, $blur: 10px, $color: rgba(0,0,0,.5)){
  text-shadow: $x $y $blur $color
}
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin transition {
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}


/* ******************************* Resets and Basics *******************************/
* {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

html,body{height:100%;}

html,body,div,object,iframe,fieldset {
    margin:0;
    padding:0;
    border:0;
}

iframe .video {
    background:transparent url(../img/ajax-loader.gif) center center no-repeat;
    background-size:20%;
    width:657px;
    height:370px;
}

video {
    width:100%;
    max-width:657px;
    height:auto;
}

iframe,embed,object {
    max-width:100%;
}

strong {
    font-weight: 700;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

legend {
    display:none;
}

input[type="radio"] {
    vertical-align:text-bottom;
}

input[type="checkbox"] {
    vertical-align:bottom;
    *vertical-align:baseline;
}

.ie6 input {
    vertical-align:text-bottom;
}

label,input[type=button],input[type=submit],button {
    cursor:pointer;
}

.ie7 img {
    -ms-interpolation-mode:bicubic;
}

img,a img {
    max-width:100%;
    height:auto;
    border:none;
}

body {
    margin: 0px;
    padding: 0px;
    -webkit-text-size-adjust:none;
    -webkit-font-smoothing:antialiased;
    -webkit-text-stroke:1px rgba(0,0,0,0);
    font-smooth:always;
    text-rendering:optimizeLegibility;
}



html,html a {
    -webkit-font-smoothing:antialiased;
    font-smooth:always;
    text-shadow:1px 1px 1px rgba(0,0,0,0.004);
}

a {
    color: $primary;
    text-decoration:none;
}

a:hover,a:focus {
    color:#3287d3;
    text-decoration:underline;
    cursor:pointer;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
}

p,ol {
    margin:0 0 1em;
    text-align:justify;
    line-height: 22px;
}

ol li {
    margin-bottom:1em;
}


blockquote {
    border-left:.5em solid #F67816;
    padding-left:1em;
    margin-left:1em;
    max-width:360px;
}

blockquote p {
    text-align:left;
}

blockquote.left {
    border-left:none;
    border-right:.5em solid #ddd;
    padding-right:2em;
    width:300px;
    float:left;
    font-family:"Times New Roman",Serif;
    font-style:italic;
    margin:0 2em 1em 0;
}

blockquote.right {
    border-right:none;
    padding-left:1em;
    width:300px;
    float:right;
    font-family:"Times New Roman",Serif;
    font-style:italic;
    margin:0 0 1em 2em;
    color:#F67816;
    font-size:20px;
}

small {
    color:#e51837;
}

.small {
    font-size:10px;
}

.right {
    float:right;
    clear: both;
}

.left {
    float:left;
    margin:0 2em 2em 0;
}

div.center {
    width:100%;
    max-width:1000px;
    margin:0 auto;
}

input[type=search] {
    -webkit-appearance:none;
    border-radius:0;
}

::-webkit-input-placeholder {
    color:gray;
}

:-moz-placeholder {
    color:gray;
}

.clearfix {
    clear:both;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

hr {
    border:0;
    height:1px;
    margin:2em 1em;
    background-image:-webkit-linear-gradient(left,transparent,rgba(0,0,0,0.75),transparent);
    background-image:-moz-linear-gradient(left,transparent,rgba(0,0,0,0.75),transparent);
    background-image:-ms-linear-gradient(left,transparent,rgba(0,0,0,0.75),transparent);
    background-image:-o-linear-gradient(left,transparent,rgba(0,0,0,0.75),transparent);
}

section {
    overflow: hidden;
    width: 100%;
}