body {
    background: $light;
    color: $dark;
    font:normal 100%/1.4  "proxima-nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* ******************************* Header Tags *******************************/
h1,h2,h3,h4,h5,h6 {
	font-family:  "proxima-nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
            text-transform: uppercase;
	margin-bottom:.5em;
	font-weight:700;
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            -webkit-margin-start: 0;
            -webkit-margin-end: 0;
}

h1 {
	font-size:1.8em;
	line-height:1;
	letter-spacing:-.02em;
	margin-bottom:.2em;
}

h2 {
	font-size:1.1em;
	margin-bottom:10px;
	line-height:1em;
}

h3 {
	line-height:1.2;
	margin-bottom:.4em;
	font-size:1.3em;
}

h4 {
	font-size:1em;
	margin-bottom:0;
}

h5 {
	font-size:.8em;
	margin:0;
	text-transform:uppercase;
}

h6 {
	font-size:.5em;
	line-height:1;
	margin:0;
	text-transform:uppercase;
}

h1 a,h2 a,h3 a {
	display:block;
	color:#000;
}

h1 a:hover,h2 a:hover,h3 a:hover {
	color:#e51837;
}

/* ******************************* The Rest *******************************/

header {
    width: 100%;
    background: $dark;
    height: 100px;
    text-align:center;
    padding: 1em 0;
    position: fixed;
    z-index: 3;
    @include transition();

}
header.shrink {
    height: 70px;
    background: $dark;
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding: 0;
     @include transition();
}
footer {
    color: #FFF;
    background: $dark;
    font-size: 85%;
    line-height: 25px;

    li {
        list-style: none;
    }

    ul {
        padding-left:0;
        margin: 0;
    }

    a {
        color: $primary;
    }

    a:hover {
        color: $secondary;
    }
}

#address {
    text-align: right;

    p {
        text-align: right;
        font-size: 80%;
        }
}

section {
    padding: 2em;
}

section.center {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

a.readMore {
    font-size: 80%;
    text-transform: uppercase;
    padding-left: em(5px);
}

article {
    padding: 1em 0;
}


#logo {
    width:100%;
    max-width: em(250px);
    height: auto;
    padding: 0 0 0 10px;
    float: left;
     @include transition();
}

#icons-social {
	float: right;
	margin-right: 1em;
}

#icons-social li{
	list-style: none;
	display: inline-block;
	float: left;
	font-size: 150%;
	padding-left: 15px;
}


#hero {
        background: #CCCCCC;
	height: 100%;
            max-height: 550px;
            padding-top: 100px;
              @media only screen and (max-width: $med) {
                height: auto;
                max-height: none;
              }

    a.learnMoreButton {
        display: block;
    }

    video {
        background-size: cover;
        background: url(/video/thumbnail.jpg) no-repeat;
        border: 10px solid #FFF;
        height: auto;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
    }
}

/* ******************************* Slabs *******************************/

.slab {
    height: 100%;
    min-height: 300px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

#slab-hero {
    background: $medium;
}


#slab-story {
    background: $light;
}

#slab-high {
    background: $protoA;
}

#slab-med {
   background: $protoB;
}

#slab-low {
   background: $protoA;
}

#slab-testimonials {
background: $protoB;

    li {
        list-style: none;
        display: inline-block;
        padding: 0 25px;
    }

    img {
        width: 100%;
        height: auto;
        max-width: em(120px);
    }
}


a.learnMoreButton {
    font-weight: bold;
    text-align: center;
    font-size: 80%;
    text-transform: uppercase;
    background: $primary;
    border: 1px solid #FFF;
    color: #FFF;
    min-width: 143px;
    text-decoration: none;
    padding: 13px;
}


div.button,
.ui.orange.button {
    border: 5px solid $dark;
    padding: 15px 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto;
    letter-spacing: 1px;
    display: block;
    width: 100%;
    text-align: center;
    background: $highlight;
    color: $light;
}

.ui.orange.button {
    background: $highlight;
    float: right;
    width: 25%;
}