body {
    background: #FFF;
    color: $dark;
    font:normal 100%/1.4  "proxima-nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* ******************************* Header Tags *******************************/
h1,h2,h3,h4,h5,h6 {
	font-family:  "bebas-neue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-transform: uppercase;
	margin-bottom:.5em;
	font-weight:400;
            text-align: left;
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            -webkit-margin-start: 0;
            -webkit-margin-end: 0;
}

h1 {
	font-size:2em;
	line-height:1;
	letter-spacing:-.02em;
	margin-bottom:.2em;
}

h2 {
	 font:normal 1.2em/1.4  "proxima-nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	margin-bottom:10px;
    text-transform: capitalize;
}

h3 {
	line-height:1.2;
	margin-bottom:.4em;
	font-size:1.4em;
}

h4 {
	font-size:2em;
	margin-bottom:0;
}

h5 {
	font-size:1.5em;
	margin:0;
	text-transform:uppercase;
}

h6 {
	font-size:.5em;
	line-height:1;
	margin:0;
	text-transform:uppercase;
}

h1 a,h2 a,h3 a {
	display:block;
	color:#000;
}

h1 a:hover,h2 a:hover,h3 a:hover {
	color:#e51837;
}

/* ******************************* The Rest *******************************/

header {
    width: 100%;
    background: $blue-dark;
    height: 105px;
    text-align:center;
    z-index: 1050;
    @include transition();

    section.center {
        padding: 0;
    }

     @include respond-to(small) {
        height: 5.5em;
    }

}
// header.shrink {
//     height: 72px;
//     // background: $primary;
//     border-bottom: 1px solid rgba(0,0,0,.2);
//     padding: 0;
//      @include transition();

//      section.center {
//         padding: 0;
//      }

//      .navbar-default  {
//         padding-top: em(5px);
//     }

// }
footer {
    color: #FFF;
    background: $blue-light;
    font-size: 100%;
    line-height: 25px;

    #logo {
       float: right;
       padding: 0;

    }

    li {
        list-style: none;
    }

    ul {
        padding-left:0;
        margin: 0;
    }

    a {
        color: #FFF;
    }

    a:hover {
        text-decoration: underline;
    }
}


#address {
    text-align: right;

    p {
        clear: both;
        font-size: 80%;
        padding: 0 15px 10px 0;
        text-align: right;
        }
}

section {
    padding: 2em;
}

section.center {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a.readMore {
    font-size: 80%;
    text-transform: uppercase;
    display: block;
}

article {
    padding: 1em 0;
}


#logo {
    width:100%;
    max-width: em(220px);
    height: auto;
    padding: 0 ;
    float: left;
    background: $blue-light;
    padding: em(27px);
    @include transition();
    margin-top: -2em;

     @include respond-to(small) {
        padding: 20px 0 0 0;
        background: $blue-dark;
        width: 70%;
    }

}

#logo.shrink {

    padding: 16px;
     @include transition();

}


#icons-social {
	float: right;
	margin-right: 1em;
}

#icons-social li{
	list-style: none;
	display: inline-block;
	float: left;
	font-size: 150%;
	padding-left: 15px;
}

div#trip-panel {
    text-align: center;

    img {
        max-height: 400px;
    }
}


#hero {
	 height: 100%;
     max-height: em(575px);
     border-bottom: 5px solid $cta;

            h1, h2, h3 {
                line-height: 80px;
                font-size: em(95px);
                color: $cta;
                font-weight: 400;
            }

            h2 {
                color: #FFF;
                font: normal 180%/1  "proxima-nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
                text-transform: none;
            }
            h3 {
                margin-top: 5%;
                font-size: 5em;
                    @include respond-to(small) {
                        text-align: center;
                    }

            }

            section.center {
                padding: 0;
                height: em(575px);

            }

    a.learnMoreButton {
        display: block;
        max-width: em(300px);
        margin-top: em(20px);
        color: $dark;
    }

    video {
        background-size: cover;
        background: url(/video/thumbnail.jpg) no-repeat;
        height: auto;
        width: 100%;
    }
}

#hero-content {
    background: rgba(39,39,39, .95);
    padding: 30px 40px;
    text-align: center;

    .btn-primary {
        color: white;
        background-color: transparent;
        border-color: transparent;
    }
}


.hero-product {
    max-height: 450px;

    section.center {
    max-height: 450px;
    }

    h1 {
        padding: 1em 0 0 0;
    }
}

.category-row {
    background: #F5F5F5;
    width: 100%;
    padding: 2% 1%;
    height: auto;
    min-height: em(240px);
    font-size: 90%;
    margin-bottom: 1em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 22px;


     h1,h2 {
        font: normal 700 100%/1.5 "proximanova-regular-bold", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
     }

     h1 {
        font-size: 140%;
     }

     ul {
        margin: 0;
        padding: 0;
     }
     li {
        list-style: none;
        display: block;

     }

      a.learnMoreButton {
            margin-top: em(26px);
        }
     @include respond-to(small) {
        text-align: center;
    }

}

.category-row img {
    max-width: 165px;
    margin:0 1em 0 0;
    border: 1px solid rgba(0,0,0,.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    @include respond-to(small) {
        max-width: 425px;
    }
}


.category-row strong,
.category-row .right {

      @include respond-to(small) {
        float: none;
        display: block;
    }
}

.category-row.main {
    width: 50%;
    display: inline-block;
    border-right: 5px solid #FFF;

        .col-sm-6,
        .col-sm-8,
        .col-sm-2 {
            padding-top: 3%;
        }
}

#menu-piggyback {
    padding: 1em 0;
    margin: 1em 0;

    .tab-pane {
        background: #FFF;
        padding: em(11px);
        border-left: 1px solid #DDDDDD;
        border-right: 1px solid #DDDDDD;
        border-bottom: 1px solid #DDDDDD;
    }

    li {
        font-size: 90%;
        background: #eeeeee;
        border-color: #eeeeee #eeeeee #dddddd;
        margin: 0 1px;
    }

    .nav-tabs > li > a {
        color: $dark;
    }
}

#menu-products {
    background: $dark;
    height: em(40px);
    text-align: left;
    z-index: 1049;

    section.center {
        padding: 0;
    }

    li {
        text-align: center;
        display: inline-block;
        list-style: none;
        padding: em(10px);
        min-width: 110px;
        border-right: 1px solid rgba(255,255,255,.2);
        a {
            color: #FFF;
            text-transform: uppercase;
            font-weight: 600;
            width: 100%;
            max-width: 10em;
            font-size: 12px;
        }

    }

    li:first-child {
        padding-left: 0;
    }

    li:last-child {
        border-right: none;
    }

     @include respond-to(small) {
       display: none;
    }
}

#menu-products.home {

    height: auto;
    color: #FFF;
    padding: 2% 0;

    .col-sm-4 {
            height: auto;
            min-height: 200px;
            padding: 2% 0;
            }

            h3 {
               opacity: .7;
            }
}

#wattsVideo {
    border: 3px solid #FFF;
}

#home-list {

    li {
        text-align: left;
        font-size: 150%;
    }
}

.hero-product {
    background: $dark url(../img/hero/two.jpg) 50% 50% no-repeat;
    background-size: cover;
}


/* ******************************* isotope *******************************/

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

.isotope .category-row {

    .col-sm-8 {
        padding-top: 0;
    }
}

/* ******************************* Color Blocks *******************************/
#color-choices {
    display: inline;
}

.color-block {
    height: em(15px);
    width: em(15px);
    margin: 0 2px;
    float: right;
}

.color-block:first-child {
    margin-left: 0
}

.color-block:last-child {
    margin-right: 0;
}

.color-block.black {
    background: #000;
}
.color-block.red {
    background: #CC0000;
}
.color-block.navy {
    background: #000080;
}
.color-block.royal {
    background: #4169e1;
}
.color-block.green {
    background: #266A2E;
}
.color-block.grey {
    background: #CCCCCC;
}

/* ******************************* TB Responsive Menu Overrides *******************************/
.navbar-default
{
    background-color: transparent;
    border-color: transparent;
    z-index: 1050;
    position: absolute;

     @include respond-to(small) {
       width: 100%;
       background: $blue-dark;
    }
}


.navbar-default .navbar-toggle {
    border-color: transparent;
    margin-top: -15px;
}
.navbar-brand {
    padding: 0 0 0 em(10px);
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;

     @include respond-to(medium) {
       text-align: right;
    }

}

.navbar-toggle .icon-bar {
    width: 28px;
    height: 4px;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: $primary;

    .icon-bar {
        background-color: #FFF;
    }
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-nav > li > a:hover {
    background-color: $cta;
    color: $blue-dark;

    .icon-bar {
        background-color: $blue-dark;
    }
}

.navbar-default .navbar-collapse {
    background-color: tranparent;
    padding-top: 8px;

        @include respond-to(medium) {
            background-color: $blue-dark;
        }

}

.row {
    margin: 1em -15px;
}
/* *******************************  Tabs *******************************/


.nav-tabs {
    margin-top: 1em ;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: $cta;
}


/* ******************************* Slabs *******************************/


// .cover {
//     width: 100%;
//     height: 100%;
//     min-height: 300px;
//     display: block;
// }

// .cover.blue-dark {
//     color: #fff;
//     background-color: $blue-dark;
// }

// .cover.blue {
//     color: #fff;
//     background-color: $blue-dark;
// }

.slab {
    height: 100%;
    min-height: 300px;
}

#slab-top {
    background: #FFF;
    height: 2em;
    text-align: right;

    li {
        display: inline;
        padding: 0 em(7px);
         font: normal 100%/1 "proxima-nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        color: $light-gray;
    }
    section.center {
        padding: 4px 0;
        max-width: 1100px;
    }

    .search {
        background: $light-gray url(../img/icons/search.png) 97% 50% no-repeat;

        padding: 6px 33px 7px 18px;

        input {
            background: $light-gray;
            color: #FFF;
            border: none;
            width: 120px;
            font: normal 400 100%/1.4 "proxima-nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
            text-transform: uppercase;
            }

        *::-webkit-input-placeholder {
                color: #FFF;
            }
            *:-moz-placeholder {
                /* FF 4-18 */
                color: #FFF;
            }
            *::-moz-placeholder {
                /* FF 19+ */
                color: #FFF;
            }
            *:-ms-input-placeholder {
                /* IE 10+ */
                color: #FFF;
            }
    }


    @include respond-to(small) {
        background: $blue-dark;
    }
}

#slab-quote {
    background: $dark;
    color: #FFF;
    height: 4em;


    h5, p {
        text-align: center;
        font: italic 180%/1.4  "ff-tisa-web-pro", Georgia, Times, serif;
        font-weight: 700;
    }

    h5 {
        text-transform: none;
        font-weight: 400;
        margin-bottom:.5em;
        font-weight: 400;

        }
}

.read-more a:link,
.read-more a:active,
.read-more a:visited  {
    text-align: center;
    font: normal 400 50%/1 "proxima-nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FFF;
}


#slab-hero {
    background: $medium;
}

#slab-proudcts {
    background: $blue-dark;

    .row .product {
        background: #FFF;
        padding: em(25px);
    }

     h2 {
        font-family:  "bebas-neue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-size: 2em;
        margin-bottom: 0;
    }

    .product.oversize {
        height: em(360px);
        background: #FFF url(../img/home/oversized.jpg) bottom left no-repeat;

        a.learnMoreButton {
            margin-top: 3em;
            width: 200px;
            float: right;
            clear: both;
        }

        p {
            width: 100%;
            max-width: 200px;
            float: right;
            clear: both;
        }
    }

    .product.professional {
        height: em(360px);
        background: #FFF url(../img/home/professional.jpg) bottom right no-repeat;

        a.learnMoreButton {
            margin-top: 4em;
            width: 200px;
        }

           p {
            width: 100%;
            max-width: 200px;
            clear: both;
        }
    }

    .product.trainer {
        background: #FFF url(../img/home/trainer.jpg) 50% no-repeat;
    }

    .product.laptop {
        background: #FFF url(../img/home/laptop.jpg) 50% no-repeat;

    }

    .product.programmer {
        background: #FFF url(../img/home/programmer.jpg) 50% no-repeat;
    }

    .product.trainer,
    .product.laptop,
    .product.programmer {
        height: 23em;

        h2,p {
            text-align: center;
        }

        h2 {
             margin-bottom: 7.5em;
        }

    }


}
#slab-story {
    background: $light;
}

#slab-high {
    background: $light;
}


#slab-med {
   background: $light;
}

#slab-about {
    color: #FFF;
   background: $dark;
}

#slab-low {
   background: $light;
}

#slab-clients {
background: #FFF;
min-height: em(140px);

    li {
        list-style: none;
        display: inline-block;
        padding: 0 25px;
    }

    li:first-child{
        padding-left: 0;
    }

    li:last-child {
        padding-right: 0;
    }

    img {
        width: 100%;
        height: auto;
        max-width: em(140px);
        opacity: .7;
    }

    section.center {
        padding: 1em 0;
    }
}


a.learnMoreButton {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background: $cta;
    color: $dark;
    min-width: 143px;
    text-decoration: none;
    padding: 13px;
    display: block;
}

a.learnMoreButton:hover {
    color: #FFF;
}

.row.video {
    text-align: center;

    h2 {
        text-align: center;
        margin-bottom: .5em;
         font-size: 4em;
    }

    a.learnMoreButton {
        // max-width: 250px;
    }
}


.navbar-default .navbar-nav > li > a {
    text-align: center;
}


div.price h3,
div.price p {
    text-align: right;
}


#reviews {

    strong{
        display: block;
        // font: normal 100%/1.4 "proxima-nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        margin: 1em 0;
    }

    p {
        border-bottom: 1px solid #CCCCCC;
        // font: italic 100%/1.2 "ff-tisa-web-pro", Georgia, Times, serif;
        margin: 1em 0 2em 0;
    }

    p:last-child {
        border-bottom: none;
    }
}

#product-details {

    .color-block {
        float: left;
    }

}

#links {
    .gallery {
        padding: 0;
    }

    .gallery li {
        list-style: none;
        padding: 0;
        display: inline;
        text-indent: 0;
    }

}


.options {
    padding: 0 0 10px 0;
}
/* *******************************  Carousel *******************************/

.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

#carousel-home,
.carousel-inner > .item {
    height: em(555px);
    overflow: hidden;
}

#carousel-sub {
    height: em(325px);

    h1 {
        margin-top: 5%;
    }
}

.carousel-caption {
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px;
}

#hero-1 {
    background: url(../img/hero/one.jpg) 50% 50% no-repeat;
    background-size: cover;
}
#hero-2 {
    background: url(../img/hero/two.jpg) 50% 50% no-repeat;
    background-size: cover;
}

#hero-3 {
    background: url(../img/hero/three.jpg) 50% 50% no-repeat;
    background-size: cover;
}

#hero-4 {
    background: url(../img/hero/four.jpg) 50% 50% no-repeat;
    background-size: cover;
}

#hero-4 .carousel-caption {
    padding-bottom: em(160px);
}

#hero .combo-bag {
    background: url(../img/hero/two.jpg) 50% 50% no-repeat;
    background-size: cover;
}

#hero .reviews {
    background: url(../img/hero/quotes/gatorade.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

@include respond-to(small) {
    .hideMobile {
        display: none;
    }
}


.category-row.main {
    width: 49%;
}



#trip-panel img,
.col-sm-2 {

     @include respond-to(small) {
        display: none;
    }
}