/* ///////////////////////////////// MEDIA QUERIES ////////////////////////////////////// */
/* ///////////////////////////////// MEDIA QUERIES ////////////////////////////////////// */
/* ///////////////////////////////// MEDIA QUERIES ////////////////////////////////////// */
/* ///////////////////////////////// MEDIA QUERIES ////////////////////////////////////// */
/* ///////////////////////////////// MEDIA QUERIES ////////////////////////////////////// */
/* ///////////////////////////////// MEDIA QUERIES ////////////////////////////////////// */
/* ///////////////////////////////// MEDIA QUERIES ////////////////////////////////////// */
/* Mobile and iPad Portrait */
@media only screen and (max-width: 959px) {
  #content {
    width:100%;
  }
}

/* Mobile Landscape and Portrait */
@media only screen and (max-width: 935px) {
  #content {
    width:100%;
  }
  
  #content ul#nav {
    display:none;
  }
  
  .open {
    display:block;
  }
  
  #pageslide {
    width:200px;
  }
  
  #pageslide #nav li {
    padding:10px 0;
    border-bottom:1px solid #666;
  }
  
  #pageslide #nav li a {
    color:#FFF;
    border:none;
    font:normal 100%/1 'adelle_rgbold',times,serif;
  }
  
  #pageslide #nav li a:hover {
    text-decoration:underline;
  }
  
  ul#nav {width: 100%;}
  ul#nav a {margin-left: 20px;}
}

/* Mobile Portrait */
@media only screen and (max-width: 479px) {
  #content {
    width:100%;
  }
}