---
layout: gallery
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Computer &amp; Duffel Bags</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/other-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Straight Zippered Duffle Bag</h1>
                    <p>This lightweight durable duffel bag is not your standard gym bag. It has been built with professional grade zippers, buckles, and fabrics. It can withstand the rigors of daily use.  If you need a different size, please contact us.  This bag can be made in any dimensions.</p>

                    <p>
                        <strong>CUSTOM BAG FEATURES:</strong>
                        <ul>
                            <li>Embroidery on front pocket.  Click Here to learn more about our embroidery</li>
                            <li>You can add your name or any other text to the bag</li>
                            <li>Commercial grade buckles, handles, fabrics, and zippers. Click Here to learn more about the materials we use in our bags</li>
                            <li>3 outer pockets for small items like your keys</li>
                            <li>Slip on back so bag can ride on top of a rolling bag</li>
                            <li>Shoulder strap with foam pad</li>
                            <li>Wrap around grab handles so you can carry it like briefcase on your side</li>
                        </ul>

                    </p>
                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="{{ site.baseurl }}/img/products/computer-duffle-bags/Straight-Zipperd-Duffle-Bag.jpg" border="0" alt="" />
                </div>
                </div>
        </div>
</section>


<section class="center">

<!-- Product -->
        <div class="category-row">
                <div class="col-sm-2">
                        <img class="lazy" data-original="{{ site.baseurl }}/img/products/computer-duffle-bags/Straight-Zipperd-Duffle-Bag.jpg" border="0" alt="" />
                </div>

                <div class="col-sm-6">
                        <h1>Straight Zippered Duffle Bag</h1>
                        <ul>
\                           <li><strong>Large Simple Duffle Dimensions:</strong><span class="right">13" Deep x 10" Wide x 31" Long</span></li>
                            <li><strong>Regular Simple Duffel Dimensions:</strong> <span class="right">13" Deep x 10" Wide x 25" Long</span></li>
                        </ul>
                </div>

                <div class="col-sm-4">

                        <ul>
                            <li><strong>Available Colors:</strong> {% include colors.html %}</li>
                            <li class="price"><strong>Price:</strong> <span class="right">Starting at $70</span></li>
                        </ul>
                        <p><a href="" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>

<!-- End Product -->

</section>
</div>
{% include testimonial.html %}