---
layout: default
title: ''
description: ''
keywords: ''
twitter-card:
twitter-site: ''
twitter-title: ''
twitter-description: '.'
twitter-image:
og-title: ''
og-url: http://www.wattsbags.com
og-image:
og-description: ''
og-sitename: 'Watts Bags'
fb-admins: ''
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Small in size but huge in features</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/athletic-trainer-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Trainer Bag 2</h1>
                    <p>The Trainer 2 kit has recently been redesigned by athletic trainers at one of the top universities in the nation. This is our medium athletic trainer bag size option. It can hold an incredible amount of supplies but is still easy to carry and travel.</p>

                    <p>
                        <strong>CUSTOM BAG FEATURES:</strong>
                        <ul>
                            <li>Embroidery options for up to 3 sides of the bag</li>
                            <li>Foam padding on all sides</li>
                            <li>Durable lightweight plastic throughout side walls for rigidity and protection</li>
                            <li>Padded carrying handle</li>
                            <li>Professional grade materials</li>
                            <li>5 outer pockets</li>
                            <li>Multiple color options available</li>
                            <li>12 interior pockets</li>
                            <li>4 interior mesh pockets</li>
                            <li>8 interior clear plastic pockets</li>
                            <li>8 removable and adjustable dividers in the interior</li>
                            <li>Best wheels on any Athletic Trainer Bag on the market guaranteed</li>
                        </ul>

                    </p>
                </div>
                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="{{ site.baseurl }}/img/products/athletic-trainer-bags/trainer-bag2.jpg" border="0" alt="" />
                    <!-- Feature Gallery -->
                         <div id="links">
                            <ul class="gallery clearfix">
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Features">Learn more about bag features</a></li>
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Featrures 2"></a></li>
                            </ul>
                        </div>
                        <!-- End Feature Gallery -->
                </div>
                </div>
        </div>
<!--Row-->
<div class="row">
    <div class="col-sm-6">
        <!-- Product -->
        <div class="category-row">

                <div class="col-sm-12">
                        <h1>Trainer Bag 2 (No Wheels)<span class="right">$260</span></h1>

                        <ul><li class="options"><span class="right"><a href="">Bag Features</a></span></li>
                            <li><strong>Bag Weight:</strong> <span class="right">8.55 lbs</span></li>
                            <li><strong>Loaded Dimensions:</strong> <span class="right">12.5" Deep x 13" Wide x 25" Long</span></li>
                            <li><strong>Internal Dimensions:</strong> <span class="right">11.5" Tall x 10" Wide x 17.5" Long</span></li>
                            <li><strong>Minimum Vehicle Space Needed:</strong> <span class="right">12.5" Deep x 11" Wide x 18.5" Long</span></li>
                        </ul>

                        <p><a href="/shop/athletic-trainer-bags/athletic-trainer-bag-2" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
</div>
<!-- End Product -->
  <div class="col-sm-6">
        <!-- Product -->
        <div class="category-row">

                <div class="col-sm-12">
                        <h1>Trainer Bag 2(w/Wheels)<span class="right">$310</span></h1>

                        <ul><li class="options"><span class="right"><a href="">Bag Features</a></span></li>
                            <li><strong>Bag Weight:</strong> <span class="right">11.9 lbs</span></li>
                            <li><strong>Loaded Dimensions:</strong> <span class="right">15" Deep x 13" Wide x 25" Long</span></li>
                            <li><strong>Internal Dimensions:</strong> <span class="right">11.5" Tall x 10" Wide x 17.5" Long</span></li>
                            <li><strong>Minimum Vehicle Space Needed:</strong> <span class="right">15" Deep x 13" Wide x 18.5" Long</span></li>
                        </ul>

                        <p><a href="/shop/athletic-trainer-bags/athletic-trainer-bag-2" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>

<!-- End Product -->
</div>
</section>
</div>
{% include testimonial.html %}