---
layout: default
title: ''
description: ''
keywords: ''
twitter-card:
twitter-site: ''
twitter-title: ''
twitter-description: '.'
twitter-image:
og-title: ''
og-url: http://www.wattsbags.com
og-image:
og-description: ''
og-sitename: 'Watts Bags'
fb-admins: ''
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Accessory Bags</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/accessory-bags-products.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Biotronik Demo Kit Bag</h1>
                    <p>This small bag is designed to carry demo devices, leads, slitter tools, etc.
                    </p>

                    <p>
                        <strong>CUSTOM BAG FEATURES:</strong>
                        <ul>
                            <li>3 internal pockets for demo devices</li>
                            <li>The 3 internal pockets are removable from the bag</li>
                            <li>Velcro strips to allow you to customize the interior</li>
                            <li>Outer external zipper pocket for reference card or small brochure</li>
                            <li>Plastic in the walls of the bag to protect you supplies</li>
                            <li>Webbing carry handle on spine</li>
                        </ul>
                    </p>

                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="http://placehold.it/450X450" border="0" alt="" />
                        <!-- Feature Gallery -->
                         <div id="links">
                            <ul class="gallery clearfix">
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Features">Learn more about bag features</a></li>
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Featrures 2"></a></li>
                            </ul>
                        </div>
                        <!-- End Feature Gallery -->
                </div>
                </div>
        </div>
<!--Row-->
<div class="row">
    <div class="col-sm-6">
        <!-- Product -->
        <div class="category-row">
                        <h1>Biotronik Demo Kit Bag<span class="right">$70</span></h1>

                        <ul>
                            <li><strong>External Dimensions:</strong> <span class="right">2.5" Deep x 6.5" Wide x 11.25" Long</span></li>
                         </ul>
                        <p><a href="" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>

<!-- End Product -->
</div>
</section>
</div>
{% include testimonial.html %}