---
layout: default
---

{% include hero.html %}
<div id="menu-products" class="home">
     <section class="center container-fluid">
        <div class="row">
            <div class="col-sm-4">
                 <img class="lazy" data-original="http://placehold.it/300X300" border="0" alt="">
            </div>
            <div class="col-sm-4">
                 <img class="lazy" data-original="http://placehold.it/300X300" border="0" alt="">
            </div>
            <div class="col-sm-4">
                 <img class="lazy" data-original="http://placehold.it/300X300" border="0" alt="">
            </div>
        </div>
    </section>
</div>
<div id="slab-story" class="slab">
    <section class="center">

        <div class="row">
            <div class="col-sm-5">
                        <h4>Building custom bags since 82'</h4>
        <h3>Professional Bags for Professional People</h3>
                <p>Our founder, Alice Avis, is a 3rd generation seamstress. In 1982, she started Watts Baggs as a way to provide for her growing family. Alice's talents, creativity, and ability to design custom bags made her products superior to what was available in the market. Alice had a vision of building a company that could provide not only for her family but others in the community. She always tried to employ mothers that needed help to support their own families. Today, Watts Baggs is still a privately owned family business that follows Alice's original vision. <a href="">Read More...</a></p>
            </div>
            <div class="col-sm-7">
                <div id="wattsVideo">
                    <!--  controls  autoplay="autoplay" -->
                    <video poster="/video/thumbnail.jpg" controls loop id="bgvid">
                        <source src="/video/watts.webm" type='video/webm;codecs="vp8, vorbis"' />
                        <source src="/video/watts.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                    </video>
                </div>
                </p>
            </div>
        </div>
    </section>
</div>

<div id="slab-high" class="slab">
    <section class="center">
        <div class="row">
            <div class="col-sm-6">
                <h2>Professional Sales Bags</h2>
                <h5>Sub header goes here</h5>
            </div>
            <div class="col-sm-6">
                <h2>Oversized Sales Bags</h2>
                <h5>Sub header goes here</h5>
            </div>
        </div>
    </section>
</div>


<div id="slab-med" class="slab">
    <section class="center">
        <div class="row">
            <div class="col-sm-4">
                <h2>Athletic Trainer Bags</h2>
                <h5>Sub header goes here</h5>
            </div>
            <div class="col-sm-4">
                <h2>Duffle Computer Bags</h2>
                <h5>Sub header goes here</h5>
            </div>
            <div class="col-sm-4">
                <h2>Programmer Bags</h2>
                <h5>Sub header goes here</h5>
            </div>
        </div>
    </section>
</div>

<div id="slab-low" class="slab">
    <section class="center">
        <div class="row">
            <div class="col-sm-6">
                <h2>Accessories</h2>
                <h5>Sub header goes here</h5>
            </div>
            <div class="col-sm-6">
                <h2>Custom Bags</h2>
                <h5>Sub header goes here</h5>
            </div>
        </div>
    </section>
</div>



{% include testimonial.html %}
{% include clients.html %}