---
layout: default
---

{% include hero.html %}
{% include clients.html %}

<!-- <div id="slab-about" class="slab">
    <div class="cover">
    <section class="center">
        <div class="row video">
            <h2>Making Bags since 82'</h2>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <h2>Quick Turnaround</h2>
                <p>Placeholder text. A quick description about the title</p>
            </div>
            <div class="col-sm-3">
                <h2>Custom Embroidery</h2>
                <p>Placeholder text. A quick description about the title</p>
            </div>
            <div class="col-sm-3">
                <h2>No Order Minimum</h2>
                <p>Placeholder text. A quick description about the title</p>
            </div>
             <div class="col-sm-3">
                <h2>In House Design</h2>
                <p>Placeholder text. A quick description about the title</p>
            </div>
        <div class="row video">
             <p><a href="" class="learnMoreButton">Learn More</a></p>
        </div
        </div>
    </section>
</div>
</div> -->


<div id="slab-proudcts" class="slab">
    <section class="center">

        <div class="row">
            <div class="col-sm-6">
                <div class="product oversize">
                    <h2>Oversized Sales Bags</h2>
                    <h3>Carry Easily and Efficiently</h3>
                    <p>Looking for this bag, that bag or the other bag? These are the bags you are looking for. </p>
                    <a href="" class="learnMoreButton">Shop Now</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="product professional">
                    <h2>Professional Sales Bags</h2>
                    <h3>Our Most Popular Sizes</h3>
                    <p>Looking for this bag, that bag or the other bag? These are the bags you are looking for. </p>
                    <a href="" class="learnMoreButton">Shop Now</a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-4">
                <div class="product trainer">
                    <h2>Athletic Trainer Bags</h2>
                    <a href="" class="learnMoreButton">Shop Now</a>
                 </div>
            </div>
            <div class="col-sm-4">
                <div class="product laptop">
                    <h2>Duffel &amp; computer Bags</h2>
                    <a href="" class="learnMoreButton">Shop Now</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="product programmer">
                    <h2>Programmer Bags</h2>
                    <a href="" class="learnMoreButton">Shop Now</a>
                </div>
            </div>
        </div>

    </section>
</div>

{% include testimonial.html %}

<!-- Hidden Video Modal -->
<!-- <div class="modal fade videoModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Video Heading</h4>
            </div>
            <div id="wattsVideo">
                <video poster="/video/thumbnail.jpg" controls loop id="bgvid">
                    <source src="/video/watts.webm" type='video/webm;codecs="vp8, vorbis"' />
                    <source src="/video/watts.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                </video>
            </div>
        </div>
    </div>
</div> -->
<!-- End Video Modal -->
