---
layout: default
title: ''
description: ''
keywords: ''
twitter-card:
twitter-site: ''
twitter-title: ''
twitter-description: '.'
twitter-image:
og-title: ''
og-url: http://www.wattsbags.com
og-image:
og-description: ''
og-sitename: 'Watts Bags'
fb-admins: ''
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Biotronik</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/programmer-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Biotronik Renamic Open Cart Programmer Bag</h1>
                    <p>The Biotronik Top Loading Renamic programmer bag is designed to hold your programmer, documents, accessories, and cables.  The bag is foam padded with rigid plastic supports to protect your programmer from damage.  The two large outer pockets are perfect for everything else you need to carry with your programmer.  The bag is water resistant and made of the best materials available.  It is NOT designed to hold the <a href="{{ site.baseurl }}/programmer-bags/biotronik/3000-top-loading/">Biotronik ICS 3000 programmer.</a>
                    </p>

                    <p>
                        <strong>CUSTOM BAG FEATURES:</strong>
                        <ul>
                            <li>Biotronik (or any other) Company Logo</li>
                            <li>You can add your name or any other text to the bag</li>
                            <li>Telescoping pull handle</li>
                            <li>Our Watts Bags exclusive wheel system</li>
                            <li>Plastic guards to prevent handle from denting</li>
                            <li>Commercial grade buckles, handles, fabrics, and zippers</li>
                            <li>2 Large outer pouch pockets for all of your accessories</li>
                        </ul>

                    </p>

                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="{{ site.baseurl }}/img/products/programmer-bags/Biotronik-Top-Loading-Style.jpg" border="0" alt="" />
                </div>
                </div>
        </div>
</section>


<section class="center">

<!-- Product -->
        <div class="category-row">
                <div class="col-sm-2">
                        <img class="lazy" data-original="{{ site.baseurl }}/img/products/programmer-bags/Biotronik-Top-Loading-Style.jpg" border="0" alt="" />
                </div>

                <div class="col-sm-6">
                        <h1>Biotronik Renamic Open Cart Programmer Bag </h1>
                        <ul>

                            <li><strong>Rigid Weight:</strong> <span class="right">10 lbs</span></li>
                            <li><strong>Lightened Weight:</strong> <span class="right">9 lbs</span></li>
                            <li><strong>External Dimensions:</strong> <span class="right">25" Deep x 15.5" Wide x 11" Long</span></li>
                            <li><strong>Internal Dimensions:</strong> <span class="right">20" Deep x 14.5" Wide x 5.5" Long</span></li>
                        </ul>
                        <a href="">Learn more about bag features</a>
                </div>

                <div class="col-sm-4">

                        <ul>
                            <li><strong>Available Colors:</strong> {% include colors.html %}</li>
                            <li><strong>Watts Wheel System:</strong> <span class="right">Yes</span></li>
                            <li><strong>Internal Divider Options:</strong> <span class="right">Yes</span></li>
                            <li><strong>Custom Embroidery:</strong> <span class="right">Yes</span></li>
                            <li class="price"><strong>Price:</strong> <span class="right">$240</span></li>
                        </ul>
                        <p><a href="/shop/programmer-bags/biotroniks-renamic-programmer-top-loading" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>

<!-- End Product -->

</section>
</div>
{% include testimonial.html %}