---
layout: default
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Computer &amp; Duffel Bags</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/other-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Lead Vest Duffel Bag</h1>
                    <p>Just roll up your lead vest and slide it in to this heavy duty Duffel Bag for easy transportation.  It also has a convenient slip on the back so it can easily ride on the top of almost any rolling bag.</p>

                    <p>
                        <strong>CUSTOM BAG FEATURES:</strong>
                        <ul>
                            <li>Custom Bag Features</li>
                            <li>Embroidery on front pocket.  Click Here to learn more about our embroidery</li>
                            <li>You can add your name or any other text to the bag</li>
                            <li>Commercial grade buckles, handles, fabrics, and zippers. Click Here to learn more about the materials we use in our bags</li>
                            <li>1 outer pockets for small items like your keys</li>
                            <li>Slip on back so bag can ride on top of a rolling bag</li>
                            <li>Shoulder strap with foam pad</li>
                            <li>Wrap around grab handles so you can carry it like briefcase on your side</li>
                        </ul>

                    </p>
                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="{{ site.baseurl }}/img/products/computer-duffle-bags/Lead-Vest-Duffel-Bag.jpg" border="0" alt="" />
                      <!-- Feature Gallery -->
                         <div id="links">
                            <ul class="gallery clearfix">
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Features">Learn more about bag features</a></li>
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Featrures 2"></a></li>
                            </ul>
                        </div>
                        <!-- End Feature Gallery -->
                </div>
                </div>
        </div>
<!--Row-->
<div class="row">
    <div class="col-sm-6">
        <!-- Product -->
        <div class="category-row">
                        <h1>Lead Vest Duffel Bag<span class="right">$50</span></h1>
                        <ul>
                            <li><strong>Dimensions:</strong> <span class="right">20" long x 5.5" Long x 5.5" Wide</span></li>
                        </ul>

                        <p><a href="" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>

<!-- End Product -->
</div>
</section>
</div>
{% include testimonial.html %}