---
layout: default
title: ''
description: ''
keywords: ''
twitter-card:
twitter-site: ''
twitter-title: ''
twitter-description: '.'
twitter-image:
og-title: ''
og-url: http://www.wattsbags.com
og-image:
og-description: ''
og-sitename: 'Watts Bags'
fb-admins: ''
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>The Big Daddy of athletic training bags</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/athletic-trainer-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Trainer Bag 5</h1>
                    <p>The Athletic Trainer 5 kit is the largest of our trainer bags. The kit is great for sports that require more supplies than your standard trainer kits or for combining supplies for several sports.  After performing tests, we ensure that it will last for years, even when used and loaded full of supplies every day.</p>

                    <p>
                        <strong>CUSTOM BAG FEATURES:</strong>
                        <ul>
                            <li>Embroidery options for up to 3 sides of the bag</li>
                            <li>Foam padding on all sides</li>
                            <li>Durable lightweight plastic throughout side walls for rigidity and protection</li>
                            <li>Padded carrying handle</li>
                            <li>Professional grade materials</li>
                            <li>5 outer pockets</li>
                            <li>2 interior pockets</li>
                            <li>Multiple color options available</li>
                            <li>2 interior mesh pockets</li>
                            <li>9 removable and adjustable dividers in the interior</li>
                            <li>Best wheels on any Athletic Trainer Bag on the market guaranteed</li>
                        </ul>
                    </p>

                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="{{ site.baseurl }}/img/products/athletic-trainer-bags/trainer-bag5.jpg" border="0" alt="" />
                                    <!-- Feature Gallery -->
                         <div id="links">
                            <ul class="gallery clearfix">
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Features">Learn more about bag features</a></li>
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Featrures 2"></a></li>
                            </ul>
                        </div>
                        <!-- End Feature Gallery -->
                </div>
                </div>
        </div>
<!--Row-->
<div class="row">
    <div class="col-sm-6">
        <!-- Product -->
        <div class="category-row">

                <div class="col-sm-12">
                        <h1>Trainer Bag 5<span class="right">$340</span></h1>
                        <ul>
                        <li class="options"><a href="">How to Size your Bag</a> <span class="right"><a href="">Bag Features</a></span></li>
                            <li><strong>Rigid Weight:</strong>  <span class="right">13.8 lbs</span></li>
                            <li><strong>Lightened Weight:</strong> <span class="right">11.4 lbs</span></li>
                            <li><strong>Loaded Dimensions:</strong> <span class="right">17" Deep x 15.5" Wide x 30.5" Long </span></li>
                            <li><strong>Internal Dimensions:</strong> <span class="right">11" Deep x 14.5" Wide x 21.5" Long</span></li>
                            <li><strong>Minimum Vehicle Space Needed:</strong> <span class="right">15" Deep x 15.5" Wide x 26.5" Long </span></li>
                        </ul>

                        <p><a href="/shop/athletic-trainer-bags/athletic-trainer-bag-5" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>

<!-- End Product -->

</section>
</div>
{% include testimonial.html %}