---
layout: default
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>The Big Daddy of athletic training bags</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/athletic-trainer-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Trainer Bag 5</h1>
                    <p>The Athletic Trainer 5 kit is the largest of our trainer bags. The kit is great for sports that require more supplies than your standard trainer kits or for combining supplies for several sports.  After performing tests, we ensure that it will last for years, even when used and loaded full of supplies every day.</p>

                    <p>
                        <strong>CUSTOM BAG FEATURES:</strong>
                        <ul>
                            <li>Embroidery options for up to 3 sides of the bag</li>
                            <li>Foam padding on all sides</li>
                            <li>Durable lightweight plastic throughout side walls for rigidity and protection</li>
                            <li>Padded carrying handle</li>
                            <li>Professional grade materials</li>
                            <li>5 outer pockets</li>
                            <li>2 interior pockets</li>
                            <li>2 interior mesh pockets</li>
                            <li>9 removable and adjustable dividers in the interior</li>
                            <li>Best wheels on any Athletic Trainer Bag on the market guaranteed</li>
                        </ul>
                    </p>

                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="/img/products/athletic-trainer-bags/trainer-bag5.jpg" border="0" alt="" />
                </div>
                </div>
        </div>
</section>


<section class="center">

<!-- Product -->
        <div class="category-row">
                <div class="col-sm-2">
                        <img class="lazy" data-original="/img/products/athletic-trainer-bags/trainer-bag5.jpg" border="0" alt="" />
                </div>

                <div class="col-sm-6">
                        <h1>Trainer Bag 5</h1>
                        <ul>
                            <li><strong>Bag Weight:</strong> <span class="right">15.3 lbs</span></li>
                            <li><strong>External Dimensions:</strong> <span class="right">17" Tall x 15.5" Wide x 29" Long</span></li>
                            <li><strong>Internal Dimensions:</strong> <span class="right">12" Tall x 14.5" Wide x 22" Long</span></li>
                        </ul>
                        <a href="">Learn more about bag features</a>
                </div>

                <div class="col-sm-4">

                        <ul>
                            <li><strong>Available Colors:</strong> {% include colors.html %}</li>
                            <li><strong>Watts Wheel System:</strong> <span class="right">Yes</span></li>
                            <li><strong>Internal Divider Options:</strong> <span class="right">Yes</span></li>
                            <li><strong>Custom Embroidery:</strong> <span class="right">Yes</span></li>
                            <li class="price"><strong>Price:</strong> <span class="right">$XXX</span></li>
                        </ul>
                        <p><a href="/shop/athletic-trainer-bags/athletic-trainer-bag-5" class="learnMoreButton">Order Bag</a></p>
                </div>
            </div>

<!-- End Product -->

</section>
</div>
{% include testimonial.html %}