---
layout: gallery
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Computer &amp; Duffel Bags</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/other-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Ogio Mastermind Computer Backpack</h1>
                    <p>Beyond a backpack, this hold-all is a tech organizer with ingenious compartments and sleeves for gadgets, laptop, cords and more</p>

                    <p>
                        <strong>CUSTOM BAG FEATURES:</strong>
                        <ul>
                            <li>1,680D ballistic nylon/1,200D poly</li>
                            <li>Ultra-padded air mesh back panel with ventilation channels</li>
                            <li>Adjustable sternum strap</li>
                            <li>Front strap cell phone/digital media device pocket</li>
                            <li>Two fleece-lined digital media pockets with weatherproof zippers and headphone exit port</li>
                            <li>Large drop-in fleece-lined valuables pocket</li>
                            <li>Two side insulated water bottle sleeves with leak ports</li>
                            <li>Deluxe organization panel</li>
                            <li>Easy-access airline ticket and magazine sleeve for travel</li>
                            <li>Power cord and other laptop accessory storage</li>
                        </ul>
                    <p class="small">*Since this bag is not manufactured by Watts Bags, we cannot offer any modification in size, colors, or features. This is an Ogio product.  All warranties for the bag must go directly through Ogio.  OGIO International guarantees this bag for lifetime of the product (original sales receipt required). This warranty covers the product for the original owner against defects in materials and workmanship only.  If the product ever fails due to a manufacturing or material defect, then OGIO will replace with like product at their discretion.  This warranty does not cover damage caused by normal wear and tear, accident, improper use, or the natural break down of colors and materials over time.  Please visit www.ogio.com/warranty to file your claim.
                    </p>
                    </p>

                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="{{ site.baseurl }}/img/products/computer-duffle-bags/Mastermind-Computer-Backpack.jpg" border="0" alt="" />
                </div>
                </div>
        </div>
</section>


<section class="center">

<!-- Product -->
        <div class="category-row">
                <div class="col-sm-2">
                        <img class="lazy" data-original="{{ site.baseurl }}/img/products/computer-duffle-bags/Mastermind-Computer-Backpack.jpg" border="0" alt="" />
                </div>

                <div class="col-sm-6">
                        <h1>Ogio Mastermind Computer Backpack</h1>

                        <ul>
                            <li><strong>Laptop sleeve:</strong> <span class="right">16.5"h x 11"w x 2"d; fits most 17" laptops</span></li>
                            <li><strong>Dimensions:</strong> <span class="right">20"h x 13.5"w x 11"d</span></li>
                            <li><strong>Capacity:</strong> <span class="right">2,500 cu.in./41LL</span></li>
                            <li><strong>Weight:</strong> <span class="right">3.2 lbs./1.5kg</span></li>
                        </ul>
                </div>

                <div class="col-sm-4">

                        <ul>
                            <li><strong>Available Colors:</strong> {% include colors.html %}</li>
                            <li class="price"><strong>Price:</strong> <span class="right">$90</span></li>
                        </ul>
                        <p><a href="" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>

<!-- End Product -->

</section>
</div>
{% include testimonial.html %}