---
layout: default
title: ''
description: ''
keywords: ''
twitter-card:
twitter-site: ''
twitter-title: ''
twitter-description: '.'
twitter-image:
og-title: ''
og-url: http://www.wattsbags.com
og-image:
og-description: ''
og-sitename: 'Watts Bags'
fb-admins: ''
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>The perfect carry on size</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/professional-sales-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Carry On Bag</h1>
                    <p>The external dimensions of our carry-on custom-made bags are the maximum size allowed by the FFA for an overhead bin carry-on.  They are smaller and simplified versions of our popular professional sales bags.
                    </p>

                    <p>
                        <strong>BAG FEATURES:</strong>
                        <ul>
                            <li>Embroidery options for up to 2 sides of the bag</li>
                            <li>Interior foam padding and exterior hard plastic to protect your equipment</li>
                            <li>Commercial grade materials</li>
                            <li>4 zipper pockets for literature and product storage</li>
                            <li>2 outer pouch pockets</li>
                            <li>Multiple color options available</li>
                            <li>Rollerblade-style wheels with telescoping pull handle</li>
                            <li>Lid pouch pocket to hold a laptop, tablet, or long boxes</li>
                            <li>Slip-on back in order to be piggybacked on any bag with a telescoping handle</li>
                            <li>Add-on strap that wraps around the handle of a briefcase, laptop bag, purse, etc.</li>

                        </ul>

                    </p>

                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="http://placehold.it/450X450" border="0" alt="" />
                        <!-- Feature Gallery -->
                         <div id="links">
                            <ul class="gallery clearfix">
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Features">Learn more about bag features</a></li>
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Featrures 2"></a></li>
                            </ul>
                        </div>
                        <!-- End Feature Gallery -->
                </div>
                </div>
        </div>
<!--Row-->
<div class="row">
    <div class="col-sm-6">
        <!-- Product -->
        <div class="category-row">
                        <h1>Carry On Bag<span class="right">$260</span></h1>

                        <ul>
                            <li class="options"><span class="right"><a href="">Bag Features</a></span></li>
                            <li><strong>Rigid Weight:</strong> <span class="right">9.7 lbs</span></li>
                            <li><strong>Lightened Weight:</strong> <span class="right">8.4 lbs</span></li>
                            <li><strong>Loaded Dimensions:</strong> <span class="right">9" Deep x 14" Wide x 22" Long</span></li>
                            <li><strong>Internal Dimensions:</strong> <span class="right">6" Deep x 13" Wide x 19" Long</span></li>
                        </ul>

                        <p><a href="" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>

<!-- End Product -->
</div>

</section>
</div>
{% include testimonial.html %}