---
layout: gallery
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Computer &amp; Duffel Bags</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/other-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Ogio City Corp Computer Briefcase</h1>
                    <p>This is an Ogio product.  All warranties for the bag must go directly through Ogio.  OGIO International guarantees this bag for lifetime of the product (original sales receipt required). This warranty covers the product for the original owner against defects in materials and workmanship only.  If the product ever fails due to a manufacturing or material defect, then OGIO will replace with like product at their discretion.  This warranty does not cover damage caused by normal wear and tear, accident, improper use, or the natural break down of colors and materials over time.  Please visit www.ogio.com/warranty to file your claim.
                    </p>

                    <p>
                        <strong>CUSTOM BAG FEATURES:</strong>
                        <ul>
                            <li>600D poly/420D dobby poly</li>
                            <li>Padded top drop-in laptop sleeve</li>
                            <li>Large main compartment</li>
                            <li>Digital media/audio pocket with headphone exit port</li>
                            <li>Detachable, adjustable, padded shoulder strap</li>
                            <li>Pullman handle attachment sleeve</li>
                            <li>Large organization panel</li>
                            <li>Interior file separators</li>
                        </ul>
                    <p class="small">*Since this bag is not manufactured by Watts Baggs, we cannot offer any modification in size, colors, or features.</p>

                    </p>

                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="{{ site.baseurl }}/img/products/computer-duffle-bags/city-corp.jpg" border="0" alt="" />
                </div>
                </div>
        </div>
</section>


<section class="center">

<!-- Product -->
        <div class="category-row">
                <div class="col-sm-2">
                        <img class="lazy" data-original="{{ site.baseurl }}/img/products/computer-duffle-bags/city-corp.jpg" border="0" alt="" />
                </div>

                <div class="col-sm-6">
                        <h1>Ogio City Corp Computer Briefcase</h1>

                        <ul>

                            <li><strong>Laptop sleeve:</strong> <span class="right">11"h x 17"w x 2"d; fits most 17" laptops</span></li>
                            <li><strong>Dimensions:</strong> <span class="right">13"h x 18"w x 6"d</span></li>
                            <li><strong>Capacity:</strong> <span class="right">1,500 cu.in./24.6L</span></li>
                            <li><strong>Weight:</strong> <span class="right">3.42 lbs./1.6kg</span></li>
                        </ul>
                </div>

                <div class="col-sm-4">

                        <ul>
                            <li><strong>Available Colors:</strong> {% include colors.html %}</li>
                            <li class="price"><strong>Price:</strong> <span class="right">$79</span></li>
                        </ul>
                        <p><a href="" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>

<!-- End Product -->

</section>
</div>
{% include testimonial.html %}