---
layout: default
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Sorin Group</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/programmer-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Sorin Medical Front Loading Programmer Bag</h1>
                    <p>The Sorin Front Loading programmer bag is designed to hold your programmer, documents, accessories, and cables.  The bag is foam padded to protect your programmer from damage.  The two outer pockets and inner pouch cable pocket are perfect for everything else you need to carry with your programmer.  The bag is water resistant and made of the best materials available.
                    </p>

                    <p>
                        <strong>CUSTOM BAG FEATURES:</strong>
                        <ul>
                            <li>Sorin Group (or any other) Company Logo</li>
                            <li>You can add your name or any other text to the bag</li>
                            <li>Telescoping pull handle</li>
                            <li>Our Watts Bags exclusive wheel system</li>
                            <li>Plastic guards to prevent handle from denting</li>
                            <li>Commercial grade buckles, handles, fabrics, and zippers</li>
                            <li>2 Large outer pouch pockets for all of your accessories</li>
                            <li>1 removable mesh cable pocket on the inside</li>
                        </ul>
                    </p>

                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="{{ site.baseurl }}/img/products/programmer-bags/Sorin-Front-Loading.jpg" border="0" alt="" />
                </div>
                </div>
        </div>
</section>


<section class="center">

<!-- Product -->
        <div class="category-row">
                <div class="col-sm-2">
                        <img class="lazy" data-original="{{ site.baseurl }}/img/products/programmer-bags/Sorin-Front-Loading.jpg" border="0" alt="" />
                </div>

                <div class="col-sm-6">
                        <h1>Sorin Medical Front Loading Programmer Bag</h1>
                            <li><strong>Rigid Weight:</strong> <span class="right">9.3 lbs</span></li>
                            <li><strong>External Dimensions:</strong> <span class="right">26.5" Deep x 17.5" Wide x 9.75" Long</span></li>
                            <li><strong>Internal Dimensions:</strong> <span class="right">21" Deep x 16.5" Wide x 7.25" Long</span></li>
                        </ul>
                        <a href="">Learn more about bag features</a>
                </div>

                <div class="col-sm-4">
                        <ul>
                            <li><strong>Available Colors:</strong> {% include colors.html %}</li>
                            <li><strong>Watts Wheel System:</strong> <span class="right">Yes</span></li>
                            <li><strong>Internal Divider Options:</strong> <span class="right">Yes</span></li>
                            <li><strong>Custom Embroidery:</strong> <span class="right">Yes</span></li>
                            <li class="price"><strong>Price:</strong> <span class="right">$220</span></li>
                        </ul>
                        <p><a href="" class="learnMoreButton">Order Bag</a></p>
                </div>
            </div>

<!-- End Product -->

</section>
</div>
{% include testimonial.html %}