<div id="slab-clients" class="slab hideMobile">
    <section class="center">
                <ul>
                    <li><a href="{{ site.baseurl }}/testimonials/"><img src="{{ site.baseurl }}/img/logos/miami.png"></a></li>
                    <li><a href="{{ site.baseurl }}/testimonials/"><img src="{{ site.baseurl }}/img/logos/boston.png"></a></li>
                    <li><a href="{{ site.baseurl }}/testimonials/"><img src="{{ site.baseurl }}/img/logos/gatorade.png"></a></li>
                    <li><a href="{{ site.baseurl }}/testimonials/"><img src="{{ site.baseurl }}/img/logos/spurs.png"></a></li>
                    <li><a href="{{ site.baseurl }}/testimonials/"><img src="{{ site.baseurl }}/img/logos/byu.png"></a></li>
                    <li><a href="{{ site.baseurl }}/testimonials/"><img src="{{ site.baseurl }}/img/logos/boston.png"></a></li>
                </ul>
    </section>
</div>