<div id="slab-clients" class="slab hideMobile">
    <section class="center">
                <ul>
                    <li><img src="{{ site.baseurl }}img/logos/miami.png"></li>
                    <li><img src="{{ site.baseurl }}img/logos/boston.png"></li>
                    <li><img src="{{ site.baseurl }}img/logos/gatorade.png"></li>
                    <li><img src="{{ site.baseurl }}img/logos/spurs.png"></li>
                    <li><img src="{{ site.baseurl }}img/logos/byu.png"></li>
                    <li><img src="{{ site.baseurl }}img/logos/boston.png"></li>
                </ul>
    </section>
</div>