<div id="slab-testimonials" class="slab">
    <section class="center">
            <div class="responsiveGallery">
                <ul>
                    <li><img class="lazy visible content image" data-original="{{ site.baseurl }}/img/logos/miami.png"></li>
                    <li><img class="lazy visible content image" data-original="{{ site.baseurl }}/img/logos/boston.png"></li>
                    <li><img class="lazy visible content image" data-original="{{ site.baseurl }}/img/logos/gatorade.png"></li>
                    <li><img class="lazy visible content image" data-original="{{ site.baseurl }}/img/logos/spurs.png"></li>
                    <li><img class="lazy visible content image" data-original="{{ site.baseurl }}/img/logos/byu.png"></li>
                </ul>
            </div>
    </section>
</div>