
<footer>
    <section class="center">

<div class="row">
    <div class="col-md-3">
        <strong>Our Services</strong>
        <ul>
            <li>Custom Bags</li>
            <li>Embroidery</li>
            <li>Materials We Use</li>
            <li>Our Story</li>
            <li>Start shopping</li>
        </ul>
    </div>
    <div class="col-md-3">
        <strong>Who we are</strong>
        <ul>
            <li>About Us</li>
            <li>Testimonials</li>
            <li>Our Staff</li>
            <li>Employment</li>
            <li>Contact Us</li>
        </ul>
    </div>
    <div class="col-md-3">
        <strong>Shop our Store</strong>
        <ul>
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
            <li>LInk</li>
            <li>Link</li>
        </ul>
    </div>

    <div id="address" class="col-md-3">
        <img class="lazy" data-original="{{ site.baseurl }}img/logo.svg" id="logo" onerror="img/logo.png">
        </a>
        <p>1122 North 1800 West, Unit 1
            <br />Lindon, Utah 84042</p>

        <ul id="icons-social">
            <a href="https://www.facebook.com/WattsBaggs">
                <li class="fa fa-facebook"></li>
            </a>
            <a href="">
                <li class="fa fa-google-plus"></li>
            </a>
            <a href="">
                <li class="fa fa-linkedin"></li>
            </a>
            <a href="">
                <li class="fa fa-pinterest"></li>
            </a>
            <a href="">
                <li class="fa fa-twitter"></li>
            </a>

        </ul>
    </div>
</div>

</section>
</footer>

<!-- Javascript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/backstretch.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/fitvid.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/lazyLoad.min.js"></script>
<script type="text/javascript">

  $(function() {
     $("img.lazy").lazyload({
         effect : "fadeIn"
     });

  });


//Backstretch
  $("#hero").backstretch([
       "{{ site.baseurl }}img/hero/eric4.jpg",
       "{{ site.baseurl }}img/hero/machine.jpg",
       "{{ site.baseurl }}img/hero/eric5.jpg"
   ], {duration: 5000, fade: 750});

$(".hero-product").backstretch("{{ site.baseurl }}img/hero/airport.jpg");
$("#slab-high").backstretch("{{ site.baseurl }}img/hero/trainers.jpg");
$("#slab-med").backstretch("{{ site.baseurl }}img/hero/hospital.jpg");

//Shrink Header
$(function(){
 var shrinkHeader = (350);
  $(window).scroll(function() {
    var scroll = getCurrentScroll();
      if ( scroll >= shrinkHeader ) {
           $('header').addClass('shrink');
        }
        else {
            $('header').removeClass('shrink');
        }
  });
function getCurrentScroll() {
    return window.pageYOffset;
    }
});
$('#piggyback a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
