
<footer>
    <section class="center">

<div class="row">
    <div class="col-md-3">
        <strong>Our Services</strong>
        <ul>
            <li>Custom Bags</li>
            <li>Embroidery</li>
            <li>Materials We Use</li>
            <li>Our Story</li>
            <li>Start shopping</li>
        </ul>
    </div>
    <div class="col-md-3">
        <strong>Who we are</strong>
        <ul>
            <li><a href="/about/">About Us</a></li>
            <li>Testimonials</li>
            <li>Our Staff</li>
            <li>Employment</li>
            <li>Contact Us</li>
        </ul>
    </div>
    <div class="col-md-3">
        <strong>Client Quick Access</strong>
        <ul>
            <li>Boston Scientific</li>
            <li>Medtronic</li>
            <li>Biotronik</li>
            <li>St. Jude Medical</li>
            <li>Sorin Group</li>
        </ul>
    </div>

    <div id="address" class="col-md-3">
        <img class="lazy" data-original="img/logo.svg" id="logo" onerror="img/logo.png">
        </a>
        <p>1122 North 1800 West, Unit 1
            <br />Lindon, Utah 84042</p>

        <ul id="icons-social">
            <a href="https://www.facebook.com/WattsBaggs">
                <li class="fa fa-facebook"></li>
            </a>
            <a href="">
                <li class="fa fa-google-plus"></li>
            </a>
            <a href="">
                <li class="fa fa-linkedin"></li>
            </a>
            <a href="">
                <li class="fa fa-pinterest"></li>
            </a>
            <a href="">
                <li class="fa fa-twitter"></li>
            </a>

        </ul>
    </div>
</div>

</section>
</footer>

<!-- Javascript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/main.min.js"></script>
