<div id="hero">


<div id="carousel-home" class="carousel slide carousel-fade">

  <div class="carousel-inner">
    <div id="hero-1" class="item active">
      <div class="carousel-caption">
         <h1>professional bags for professional people</h1>
    <h2>Watts Bags has been custom making bags for over 25 years.</h2>
    <a href="{{ site.baseurl }}/customize-your-bag/" class="learnMoreButton">What can we make for you?</a>
      </div>
    </div>
    <div id="hero-2" class="item">
      <div class="carousel-caption">
         <h1>whatever you do,<br /> a watts bag is for you</h1>
    <h2>Looking for the perfect work and sales companion that looks professional and works great? Let us build a bag for you!</h2>
    <a href="{{ site.baseurl }}/about-us/" class="learnMoreButton">Learn More</a>
      </div>
    </div>
    <div id="hero-3" class="item">
      <div class="carousel-caption">

            <div class="row">
            <h1>HIGH QUALITY, LONG LASTING BAGS</h1>
            <div class="col-sm-6">
                <div id="wattsVideo">
                <video poster="{{ site.baseurl }}/img/thumb-video.jpg" controls loop id="bgvid">
                    <source src="{{ site.baseurl }}/video/watts.webm" type='video/webm;codecs="vp8, vorbis"' />
                    <source src="{{ site.baseurl }}/video/watts.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                </video>
            </div>
            </div>
                 <div id="home-list" class="col-sm-6">
                    <ul>
                        <li>Quick turn around </li>
                        <li>Custom Embroidery</li>
                        <li>No Order Minimum</li>
                        <li>In House Design</li>
                    </ul>
                <a href="" class="learnMoreButton">Start Shopping</a>
            </div>
        </div>

      </div>
    </div>
    <div id="hero-4" class="item">
      <div class="carousel-caption">
         <h1>SERVING CLIENTS WORLDWIDE</h1>
    <h2>Building custom bags for clients all over the world since 1982.</h2>
    <a href="{{ site.baseurl }}/map/" class="learnMoreButton">Our Client Locations</a>
      </div>
    </div>
  </div><!-- /.carousel-inner -->

    <a class="left carousel-control" href="#carousel-home" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-home" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div><!-- /.carousel -->

</div>