
    <div id="content">
        <img src="{{ site.baseurl }}/img/logo.png" id="logo">
        <div><a class="open menu-link" href="#nav">Menu</a></div>

        <ul id="nav">
            <li><a href="">Home</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Testimonials</a></li>
            <li><a href="">Products</a></li>
<!--             <li><a href="">Blog</a></li> -->
            <li><a href="">Contact</a></li>
        </ul>
    </div>