<div id="menu-piggyback" class="row">
    <h4>Long boxes or equipment?</h4>
    <h5>Carry it all with our piggy back options!</h5>
    <ul id="piggyback" class="nav nav-tabs">
        <li class="active"><a href="scout">CPS/Scout Pro</a>
        </li>
        <li><a href="#attain">Attain Delivery</a>
        </li>
        <li><a href="#rapido">Large Rapido</a>
        </li>
        <li><a href="#large">Small Rapido Piggyback</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="scout">
            <img class="image left" src="http://placehold.it/150X150" border="0" alt="" />
            <h5>CPS/Scout Pro Info</h5>
            <p>Our most popular bag sizes. These customizable bags give you the ability to make a bag perfectly suited for your needs, products, and supplies. Our Sales Bags have been designed and improved over the last two decades by active Medical Sales Reps.</p>
            <p>
                <strong>Loaded Dimensions:</strong>
                <br />17" Deep x 15.5" Wide x 36" Long</p>
        </div>
        <div class="tab-pane" id="attain">
            <img class="image left" src="http://placehold.it/150X150" border="0" alt="" />
            <h5>Attain Delivery Info</h5>
            <p>Our most popular bag sizes. These customizable bags give you the ability to make a bag perfectly suited for your needs, products, and supplies. Our Sales Bags have been designed and improved over the last two decades by active Medical Sales Reps.</p>
            <p>
                <strong>Loaded Dimensions:</strong>
                <br />17" Deep x 15.5" Wide x 36" Long</p>
        </div>
        <div class="tab-pane" id="rapido">
            <img class="image left" src="http://placehold.it/150X150" border="0" alt="" />
            <h5>Large Rapido Info</h5>
            <p>Our most popular bag sizes. These customizable bags give you the ability to make a bag perfectly suited for your needs, products, and supplies. Our Sales Bags have been designed and improved over the last two decades by active Medical Sales Reps.</p>
            <p>
                <strong>Loaded Dimensions:</strong>
                <br />17" Deep x 15.5" Wide x 36" Long</p>
        </div>
        <div class="tab-pane" id="large">
            <img class="image left" src="http://placehold.it/150X150" border="0" alt="" />
            <h5>Small Rapido Info</h5>
            <p>Our most popular bag sizes. These customizable bags give you the ability to make a bag perfectly suited for your needs, products, and supplies. Our Sales Bags have been designed and improved over the last two decades by active Medical Sales Reps.</p>
            <p>
                <strong>Loaded Dimensions:</strong>
                <br />17" Deep x 15.5" Wide x 36" Long</p>
        </div>
    </div>


</div>