<div id="slab-quote" class="slab">
    <section class="center">
        <div class="row">
            <div class="col-sm-12">
                <h5>
                    "Our sports medicine department recently ordered 6 bags from Watts and we have been very pleased with what we received. The bags were hand made for us in just two weeks, with custom embroidery on the top and front. Watts was able to accommodate every request we made quickly and affordably.""
                </h5>
                <p>Mike McNulty -Chicago Cubs</p>
            </div>
        </div>
    </section>
</div>