<div id="slab-quote" class="slab">
    <section class="center">
        <div id="myCarousel" class="carousel slide carousel-fade">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>
                                "Our sports medicine department recently ordered 6 bags from Watts and we have been very pleased with what we received. The bags were hand made for us in just two weeks, with custom embroidery on the top and front. Watts was able to accommodate every request we made quickly and affordably."
                            </h5>
                            <p>Mike McNulty-Chicago Cubs</p>
                            <p class="read-more"><a href="{{ site.baseurl }}/testimonials/">Read More</a></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>
                                "Watts Bags Inc. offers great products at competitive prices. But what separates them from other companies is the personal service. I know that when I call or email I'm not going to get a machine or get some template email response. I can reach out to Jonathan Watts and hear back from him quickly. I highly recommend him to anyone interested in purchasing bags for sports medicine or otherwise."
                            </h5>
                            <p>Ben Schuler-Dartmouth</p>
                            <p class="read-more"><a href="{{ site.baseurl }}/testimonials/">Read More</a></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>
                                "Watts Bags has consistently provided great quality product bags for our company over the last 7 years. Our projects are always custom and Watts does a great job at paying close attention to detail and really listening to our specific needs."
                            </h5>
                            <p>Clint Poulsen</p>
                            <p class="read-more"><a href="{{ site.baseurl }}/testimonials/">Read More</a></p>
                        </div>
                    </div>
                </div>
        </div>

    </section>
</div>