---
layout: default
title: ''
description: ''
keywords: ''
twitter-card:
twitter-site: ''
twitter-title: ''
twitter-description: '.'
twitter-image:
og-title: ''
og-url: http://www.wattsbags.com
og-image:
og-description: ''
og-sitename: 'Watts Bags'
fb-admins: ''
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Accessory Bags</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->


</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/accessory-bags-products.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
<!-- Product -->
        <div class="category-row main">
            <div class="col-sm-4">
                <img class="lazy" data-original="http://placehold.it/175X175" border="0" alt="" />
            </div>
                <div class="col-sm-8">
                        <h1>Accessory Bag</h1>
                        <p>This small bag organizes your accessories, small boxes, adapters, wrench kits, or butterfly toolkits.</p>
                        <p><a href="{{ site.baseurl }}/accessory-bags-and-products/accessory-bag/" class="">Learn More</a></p>
                </div>
            </div>
<!-- End Product -->
<!-- Product -->
        <div class="category-row main">
            <div class="col-sm-4">
                <img class="lazy" data-original="http://placehold.it/175X175" border="0" alt="" />
            </div>
                <div class="col-sm-8">
                        <h1>Small Accessory Bag</h1>
                        <p>Organize your little supplies in this small accessory bag. </p>
                        <p><a href="{{ site.baseurl }}/accessory-bags-and-products/small-accessory-bag/" class="">Learn More</a></p>
                </div>
            </div>
<!-- End Product -->
<!-- Product -->
        <div class="category-row main">
            <div class="col-sm-4">
                <img class="lazy" data-original="http://placehold.it/175X175" border="0" alt="" />
            </div>
                <div class="col-sm-8">
                        <h1>Biotronik Demo Kit</h1>
                        <p>Designed to carry demo devices, leads, slitter tools, and other small non sterile demo devices</p>
                        <p><a href="{{ site.baseurl }}/accessory-bags-and-products/biotronik-demo-kit/" class="">Learn More</a></p>
                </div>
            </div>
<!-- End Product -->
<!-- Product -->
        <div class="category-row main">
            <div class="col-sm-4">
                <img class="lazy" data-original="http://placehold.it/175X175" border="0" alt="" />
            </div>
                <div class="col-sm-8">
                        <h1>Demo Kit</h1>
                        <p>Designed to carry demo devices, leads, slitter tools, and other small non sterile demo devices</p>
                        <p><a href="{{ site.baseurl }}/accessory-bags-and-products/demo-kit" class="">Learn More</a></p>
                </div>
            </div>
<!-- End Product -->
<!-- Product -->
        <div class="category-row main">
            <div class="col-sm-4">
                <img class="lazy" data-original="http://placehold.it/175X175" border="0" alt="" />
            </div>
                <div class="col-sm-8">
                        <h1>Luggage Cart</h1>
                        <p>Folding luggage cart with a 155 pound capacity</p>
                        <p><a href="{{ site.baseurl }}/accessory-bags-and-products/standard-luggage-cart/" class="">Learn More</a></p>
                </div>
            </div>
<!-- End Product -->
<!-- Product -->
        <div class="category-row main">
            <div class="col-sm-4">
                <img class="lazy" data-original="http://placehold.it/175X175" border="0" alt="" />
            </div>
                <div class="col-sm-8">
                        <h1>Heavy Duty Luggage Cart</h1>
                        <p>Heavy duty folding luggage cart with a 400 pound capacity</p>
                        <p><a href="{{ site.baseurl }}/accessory-bags-and-products/heavy-duty-luggage-cart/" class="">Learn More</a></p>
                </div>
            </div>
<!-- End Product -->
<!-- Product -->
        <div class="category-row main">
            <div class="col-sm-4">
                <img class="lazy" data-original="http://placehold.it/175X175" border="0" alt="" />
            </div>
                <div class="col-sm-8">
                        <h1>Schwan Bag</h1>
                        <p>Insulated Schwan food rolling bag</p>
                        <p><a href="{{ site.baseurl }}/accessory-bags-and-products/schwan-bag" class="">Learn More</a></p>
                </div>
            </div>
<!-- End Product -->
</section>
</div>
{% include testimonial.html %}