        <ul>
            <li><a href="{{ site.baseurl }}/">Accessory Bag</a></li>
            <li><a href="{{ site.baseurl }}/">Small Accessory Bag</a></li>
            <li><a href="{{ site.baseurl }}/">Biotronik Demo Kit</a></li>
            <li><a href="{{ site.baseurl }}/">Demo Kit</a></li>
            <li><a href="{{ site.baseurl }}/">Heavy Duty Luggage Cart</a></li>
            <li><a href="{{ site.baseurl }}/">Luggage Cart</a></li>
            <li><a href="{{ site.baseurl }}/">Schwan Bag</a></li>
        </ul>