        <ul>
            <li><a href="{{ site.baseurl }}/accessory-bags-and-products/accessory-bag/">Accessory Bag</a></li>
            <li><a href="{{ site.baseurl }}/accessory-bags-and-products/small-accessory-bag/">Small Accessory Bag</a></li>
            <li><a href="{{ site.baseurl }}/accessory-bags-and-products/biotronik-demo-kit/">Biotronik Demo Kit</a></li>
            <li><a href="{{ site.baseurl }}/accessory-bags-and-products/demo-kit/">Demo Kit</a></li>
            <li><a href="{{ site.baseurl }}/accessory-bags-and-products/heavy-duty-luggage-cart/">Heavy Duty Luggage Cart</a></li>
            <li><a href="{{ site.baseurl }}/accessory-bags-and-products/standard-luggage-cart/">Luggage Cart</a></li>
            <li><a href="{{ site.baseurl }}/accessory-bags-and-products/schwan-bag/">Schwan Bag</a></li>
        </ul>