        <ul>
            <li><a href="{{ site.baseurl }}/athletic-trainer-bags/mini-trainer-bags/">Mini Athletic Trainer Bags</a></li>
            <li><a href="{{ site.baseurl }}/athletic-trainer-bags/trainer-bag1/">Trainer Bag 1</a></li>
            <li><a href="{{ site.baseurl }}/athletic-trainer-bags/trainer-bag2/">Trainer Bag 2</a></li>
            <li><a href="{{ site.baseurl }}/athletic-trainer-bags/trainer-bag3/">Trainer Bag 3</a></li>
            <li><a href="{{ site.baseurl }}/athletic-trainer-bags/trainer-bag4/">Trainer Bag 4</a></li>
            <li><a href="{{ site.baseurl }}/athletic-trainer-bags/trainer-bag5/">Trainer Bag 5</a></li>
        </ul>