        <ul>

            <li><a href="{{ site.baseurl }}/combo-bags/">Combo Bags</a></li>
            <li><a href="{{ site.baseurl }}/cps0bag/">CPS Bag</a></li>
            <li><a href="{{ site.baseurl }}/{{ site.baseurl }}/">Sales Bags 32-40</a></li>
            <li><a href="{{ site.baseurl }}/">Top Loading Catheter Bag</a></li>
            <li><a href="{{ site.baseurl }}/">Travel Bag</a></li>

            <!-- Piggy Backs
            <li><a href="">Rapido Bags</a></li>
            <li><a href="">Attain Delivery</a></li>
            <li><a href="">Small Piggy Back</a></li>
            <li><a href="">Biotronik Scout Pro</a></li>
        -->
        </ul>