        <ul>

            <li><a href="{{ site.baseurl }}/oversized-sales-bags/combo-bags/">Combo Bags</a></li>
            <li><a href="{{ site.baseurl }}/oversized-sales-bags/cps-bag/">CPS Bag</a></li>
            <li><a href="{{ site.baseurl }}/oversized-sales-bags/oversized-sales-bags-32-40">Sales Bags 32-40</a></li>
            <li><a href="{{ site.baseurl }}/oversized-sales-bags/top-loading-catheter-bag">Top Loading Catheter Bag</a></li>
            <li><a href="{{ site.baseurl }}/oversized-sales-bags/travel-bag">Travel Bag</a></li>
        </ul>