        <ul>
            <li><a href="{{ site.baseurl }}/professional-sales-bags/professional-sales-bags-a-e">Professional Sales Bags A-E</a></li>
            <li><a href="{{ site.baseurl }}/professional-sales-bags/combo-sales-bags/">Combo Sales Bags</a></li>
            <li><a href="{{ site.baseurl }}/professional-sales-bags/add-on-bag">Add On Bag</a></li>
            <li><a href="{{ site.baseurl }}/professional-sales-bags/biotronik-implant-bag">Biotronik Implant Bag</a></li>
            <li><a href="{{ site.baseurl }}/professional-sales-bags/large-nueromodulation-bag">Nueromodulation Bags</a> </li>
            <li><a href="{{ site.baseurl }}/professional-sales-bags/travel-bag">Travel Bag</a></li>
            <li><a href="{{ site.baseurl }}/professional-sales-bags/carry-on-bag">Carry On Bag</a></li>
        </ul>