
<div id="filters">
    <ul data-filter-group="client">
          <li><a class="button" data-filter=".biotronik">Biotronik</a></li>
          <li><a class="button" data-filter=".boston">Boston Scientific</a></li>
          <li><a class="button" data-filter=".medtronic">Medtronic</a></li>
          <li><a class="button" data-filter=".stjude">St. Jude Medical</a></li>
          <li><a class="button" data-filter=".sorin">Sorin Group</a></li>
          <li><a class="button is-checked" data-filter="">All Bags</a></li>
    </div>
</div>