        <ul>
            <li><a href="{{ site.baseurl }}/programmer-bags/biotronik/">Biotronik</a></li>
            <li><a href="{{ site.baseurl }}/programmer-bags/boston-scientific/">Boston Scientific</a></li>
            <li><a href="{{ site.baseurl }}/programmer-bags/medtronic/">Medtronic</a></li>
            <li><a href="{{ site.baseurl }}/programmer-bags/sorin/">Sorin Group</a></li>
            <li><a href="{{ site.baseurl }}/programmer-bags/st-jude/">St. Jude Medical</a></li>
        </ul>