---
layout: default
title: ''
description: ''
keywords: ''
twitter-card:
twitter-site: ''
twitter-title: ''
twitter-description: '.'
twitter-image:
og-title: ''
og-url: http://www.wattsbags.com
og-image:
og-description: ''
og-sitename: 'Watts Bags'
fb-admins: ''
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>MARKETING H3</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/oversized-sales-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Ogio Travel Bag</h1>
                    <p>This mammoth travel bag can easily handle extended stays.
                    </p>

                    <p>
                        <strong>BAG FEATURES:</strong>
                        <ul>
                            <li>1,680D poly</li>
                            <li>Locking retractable handle for optimum mobility</li>
                            <li>Garment compression straps</li>
                            <li>Large exterior zippered pockets</li>
                            <li>Custom identification sleeve</li>
                            <li>Soft-grip top handle for easy lifting</li>
                            <li>In-line skate wheels</li>
                        </ul>

                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="{{ site.baseurl }}/img/products/oversized-sales-bags/travel-bag.jpg" border="0" alt="" />
                        <!-- Feature Gallery -->
                         <div id="links">
                            <ul class="gallery clearfix">
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Features">Learn more about bag features</a></li>
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Featrures 2"></a></li>
                            </ul>
                        </div>
                        <!-- End Feature Gallery -->
                </div>
                </div>
        </div>


<!--Row-->
<div class="row">
    <div class="col-sm-6">
        <!-- Product -->
        <div class="category-row">

                <div class="col-sm-12">
                        <h1>Oversize Travel Bag<span class="right">$200</span></h1>

                        <ul>
                            <li><strong>Rigid Weight:</strong> <span class="right">9.4 lbs.</span></li>
                            <li><strong>Capacity: </strong> <span class="right">5,070 cu. Ins</span></li>
                            <li><strong>Loaded Dimensions:</strong> <span class="right">26"h x 15"w x 16.5"d</span></li>
                        </ul>

                        <p><a href="" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>

<!-- End Product -->
                                <span class="small">This is an Ogio product and is not manufactured by Watts Bags. We cannot offer any modification in size, colors, or features.
                    All warranties for the bag must go directly through Ogio.  OGIO International guarantees this bag for lifetime of the product (original sales receipt required). This warranty covers the product for the original owner against defects in materials and workmanship only.  If the product ever fails due to a manufacturing or material defect, then OGIO will replace with like product at their discretion.  This warranty does not cover damage caused by normal wear and tear, accident, improper use, or the natural break down of colors and materials over time.  Please contact us if you would like more information on how to warranty an Ogio bag.
                </span>

</section>
</div>
{% include testimonial.html %}