---
layout: default
title: ''
description: ''
keywords: ''
twitter-card:
twitter-site: ''
twitter-title: ''
twitter-description: '.'
twitter-image:
og-title: ''
og-url: http://www.wattsbags.com
og-image:
og-description: ''
og-sitename: 'Watts Bags'
fb-admins: ''
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Simple &amp; Efficient CPS Bags</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/oversized-sales-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Cardiac Positioning Equipment Bags</h1>
                    <p>These custom- designed bags provide a simple, efficient way to hold and organize all of your catheters, long boxes, or heart failure supplies.  Carry it over your shoulder with a padded shoulder strap or on your side with a contoured grab handle. You can also order it with our heavy-duty wheel system.  We can put any logo or embroidery on the bag.
                    </p>

                    <p>
                        <strong>CUSTOM BAG FEATURES:</strong>
                        <ul>
                            <li>Embroidery options for up to 3 sides of the bag</li>
                            <li>Interior foam padding and exterior hard plastic to protect your equipment</li>
                            <li>Commercial grade materials</li>
                            <li>Multiple color options available</li>
                            <li>4 zipper pockets for literature and product storage</li>
                            <li>Contoured grab handle on front so you can carry it like a briefcase</li>
                            <li>Customizable interior with removable divider system</li>
                            <li>2 contoured grab handles on the ends to help you lift it into your vehicle</li>
                            <li>Removable padded shoulder strap</li>

                        </ul>
                    </p>

                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="{{ site.baseurl }}/img/products/oversized-sales-bags/cps-bag.jpg" border="0" alt="" />
                                      <!-- Feature Gallery -->
                         <div id="links">
                            <ul class="gallery clearfix">
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Features">Learn more about bag features</a></li>
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Featrures 2"></a></li>
                            </ul>
                        </div>
                        <!-- End Feature Gallery -->
                </div>
                </div>
        </div>
</section>


<section class="center">

<!--Row-->
<div class="row">
    <div class="col-sm-6">
        <!-- Product -->
        <div class="category-row">
                        <h1>CPS Bag(No Wheels)<span class="right">$265</span></h1>

                        <ul>
                          <li class="options"><a href="">How to Size your Bag</a> <span class="right"><a href="">Bag Features</a></span></li>
                            <li><strong>Rigid Weight:</strong>  <span class="right">11.5 lbs</span></li>
                            <li><strong>Lightened Weight:</strong> <span class="right">9.5 lbs</span></li>
                            <li><strong>Loaded Dimensions:</strong> <span class="right">11" Deep x 16" Wide x 38" Long</span></li>
                            <li><strong>Internal Dimensions:</strong> <span class="right">10" Deep x 15" Wide x 37" Long</span></li>
                        </ul>

                        <p><a href="" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>

<!-- End Product -->

<!-- Product -->
<div class="col-sm-6">
        <!-- Product -->
        <div class="category-row">
                        <h1>CPS Bag(w/Wheels)<span class="right">$315</span></h1>

                        <ul>
                            <li class="options"><a href="">How to Size your Bag</a> <span class="right"><a href="">Bag Features</a></span></li>
                            <li><strong>Rigid Weight:</strong>  <span class="right">15.5 lbs</span></li>
                            <li><strong>Lightened Weight:</strong> <span class="right">13.5 lbs</span></li>
                            <li><strong>Loaded Dimensions:</strong> <span class="right">13.5" Deep x 16" Wide x 41" Long</span></li>
                            <li><strong>Internal Dimensions:</strong> <span class="right">10" Deep x 15" Wide x 37" Long</span></li>
                        </ul>

                        <p><a href="" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>
<!-- End Product -->
</div>
<p class="small">If you like this bag style but need different bag dimensions, check out our
    <a href="{{ site.baseurl }}/oversized-sales-bags/attain-delivery/">Attain Delivery Bag</a>,
    <a href="{{ site.baseurl }}/oversized-sales-bags/accuity-bag/">Accuity Bag</a>,
    <a href="{{ site.baseurl }}/oversized-sales-bags/biotronik-scout-pro/">Scout Pro</a>, or
    <a href="{{ site.baseurl }}/oversized-sales-bagssmall-piggyback/">Small Piggyback Bag</a>. All of these bags are the same besides the size.
</p>
</section>
</div>
{% include testimonial.html %}