---
layout: default
title: ''
description: ''
keywords: ''
twitter-card:
twitter-site: ''
twitter-title: ''
twitter-description: '.'
twitter-image:
og-title: ''
og-url: http://www.wattsbags.com
og-image:
og-description: ''
og-sitename: 'Watts Bags'
fb-admins: ''
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>St Jude Medical</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/programmer-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>St Jude Medical Front Loading Programmer Bag</h1>
                    <p>The St Jude Medical Front Loading programmer bag is designed to hold your Merlin programmer, documents, accessories, and cables.  The bag is foam padded to protect your programmer from damage.  The two outer pockets and inner pouch cable pocket are perfect for everything else you need to carry with your programmer.  The bag is water resistant and made of the best materials available.
                    </p>

                    <p>
                        <strong>CUSTOM BAG FEATURES:</strong>
                        <ul>
                            <li>St Jude Medical (or any other) Company Logo</li>
                            <li>You can add your name or any other text to the bag</li>
                            <li>Telescoping pull handle</li>
                            <li>Multiple color options available</li>
                            <li>Our Watts Bags exclusive wheel system</li>
                            <li>Plastic guards to prevent handle from denting</li>
                            <li>Commercial grade buckles, handles, fabrics, and zippers</li>
                            <li>2 Large outer pouch pockets for all of your accessories</li>
                            <li>1 removable mesh cable pocket on the inside</li>
                        </ul>

                    </p>

                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="{{ site.baseurl }}/img/products/programmer-bags/St-Jude-Programmer-Bag.jpg" border="0" alt="" />
                </div>
                </div>
        </div>
<!--Row-->
<div class="row">
    <div class="col-sm-6">
        <!-- Product -->
        <div class="category-row">
                        <h1>St Jude Medical Front Loading Bag<span class="right">$220</span></h1>
                        <ul>
                            <li class="options"><span class="right"><a href="">Bag Features</a></span></li>
                            <li><strong>Rigid Weight:</strong> <span class="right">8.9 lbs</span></li>
                            <li><strong>Loaded Dimensions:</strong> <span class="right">26" Deep x 16.5" Wide x 9.75" Long</span></li>
                            <li><strong>Internal Dimensions:</strong> <span class="right">22" Deep x 16" Wide x 6.25" Long</span></li>
                        </ul>
                        <p><a href="" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>

<!-- End Product -->
</div>
</section>
</div>
{% include testimonial.html %}