---
layout: default
title: ''
description: ''
keywords: ''
twitter-card:
twitter-site: ''
twitter-title: ''
twitter-description: '.'
twitter-image:
og-title: ''
og-url: http://www.wattsbags.com
og-image:
og-description: ''
og-sitename: 'Watts Bags'
fb-admins: ''
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Accessory Bags</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/accessory-bags-products.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">
                    <h1>Standard Luggage Cart</h1>
                    <p>Featuring luggage wheel guards, an expanding deck, and strong steel construction - the Barrington is ideal for anyone on the go. Whether you’re catching a plane, train, or business meeting - just load up and go.  This cart weighs a mere 8lbs and has a 155lb load capacity! 
                    </p>
                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="http://placehold.it/450X450" border="0" alt="" />
                        <!-- Feature Gallery -->
                         <div id="links">
                            <ul class="gallery clearfix">
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Features">Learn more about bag features</a></li>
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Featrures 2"></a></li>
                            </ul>
                        </div>
                        <!-- End Feature Gallery -->
                </div>
                </div>
        </div>
<!--Row-->
<div class="row">
    <div class="col-sm-6">
        <!-- Product -->
        <div class="category-row">
                        <h1>Standard Luggage Cart<span class="right">$75</span></h1>

                        <ul>
                            <li><strong>Open:</strong> <span class="right">39.25”H x 19.5”W x 17”D</span></li>
                            <li><strong>Wheelbase:</strong> <span class="right">14.5 inches</span></li>
                            <li><strong>Closed:</strong> <span class="right">23”H x 6”W x 14.5”D</span></li>
                            <li><strong>Deck Extensions Open:</strong> <span class="right">19”W x 13”D</span></li>
                            <li><strong>Deck Extensions Closed :</strong> <span class="right">9.5”W x 13”D</span></li>
                            <li><strong>Warranty:</strong> <span class="right">Limited Lifetime Warranty</span></li>
                        </ul>

                        <p><a href="" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>

<!-- End Product -->
</div>
</section>
</div>
{% include testimonial.html %}