---
layout: default
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Oversized Sales Bags</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/oversized-sales-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
<p>When you need to carry a large amount of supplies/products but do not want to use several separate bags, look no further than this bag set. You can connect a piggyback bag, which can hold all of your long devices/products, to one of our rolling bags. Attach a piggyback bag to a rolling bag or use them separately. All piggyback bags come with a padded shoulder strap and grab handle.  All of the oversized bags come with our heavy-duty wheel system.
</p>
<!-- Product -->
        <div class="category-row main">

                <div class="col-sm-12">
                    <img class="lazy left" data-original="http://placehold.it/175X175" border="0" alt="" />
                        <h1>Combo Bags</h1>
                        <p>Combine two of our most popular oversized bag styles for one bag set.</p>
                        <p><a href="{{ site.baseurl }}/oversized-sales-bags/combo-bags/" class="">Learn More</a> | <a href="" class="">Buy Now</a></p>
                </div>

            </div>

<!-- End Product -->

<!-- Product -->
        <div class="category-row main">

                <div class="col-sm-12">
                    <img class="lazy left" data-original="http://placehold.it/175X175" border="0" alt="" />
                        <h1>CPS Bags</h1>
                        <p>Perfect for Cardiac Positioning Equipment, any long boxes or supplies, catheters, or heart failure equipment</p>

                        <p><a href="{{ site.baseurl }}/oversized-sales-bags/cps-bag" class="">Learn More</a> | <a href="" class="">Buy Now</a></p>
                </div>
            </div>

<!-- End Product -->
<!-- Product -->
        <div class="category-row main">

                <div class="col-sm-12">
                    <img class="lazy left" data-original="http://placehold.it/175X175" border="0" alt="" />
                        <h1>Sales bags 32-40</h1>
                        <p>Oversized versions of our professional sales bags—perfect for the person looking for one large back to fit all supplies or personal items..</p>

                        <p><a href="{{ site.baseurl }}/oversized-sales-bags/oversized-sales-bags-32-40/" class="">Learn More</a> | <a href="" class="">Buy Now</a></p>
                </div>
            </div>

<!-- End Product -->
<!-- Product -->
        <div class="category-row main">

                <div class="col-sm-12">
                    <img class="lazy left" data-original="http://placehold.it/175X175" border="0" alt="" />
                        <h1>Oversize Travel Bag</h1>
                        <p>This mammoth travel bag can easily handle extended stays.</p>

                        <p><a href="{{ site.baseurl }}/oversized-sales-bags/travel-bag/" class="">Learn More</a> | <a href="" class="">Buy Now</a></p>
                </div>
            </div>

<!-- End Product -->

</section>
</div>
{% include testimonial.html %}