---
layout: default
title: ''
description: ''
keywords: ''
twitter-card:
twitter-site: ''
twitter-title: ''
twitter-description: '.'
twitter-image:
og-title: ''
og-url: http://www.wattsbags.com
og-image:
og-description: ''
og-sitename: 'Watts Bags'
fb-admins: ''
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Small in size but huge in features</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/athletic-trainer-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Trainer Bag 4</h1>
                    <p>The Trainer 4 kit has recently been redesigned by athletic trainers at one of the top universities in the nation. This larger size makes it very easy to organize everything you will need for most sports or sporting events. Check out the picture below to see how much this bag holds. The only difference between our Trainer 3 and 4 are the internal divider systems.</p>

                    <p>
                        <strong>CUSTOM BAG FEATURES:</strong>
                        <ul>
                            <li>Embroidery options for up to 3 sides of the bag</li>
                            <li>Foam padding on all sides</li>
                            <li>Durable lightweight plastic throughout side walls for rigidity and protection</li>
                            <li>Padded carrying handle</li>
                            <li>Professional grade materials</li>
                            <li>5 outer pockets</li>
                            <li>12 interior pockets</li>
                            <li>Multiple color options available</li>
                            <li>4 interior mesh pockets</li>
                            <li>8 interior clear plastic pockets</li>
                            <li>10 removable and adjustable dividers in the interior</li>
                            <li>Best wheels on any Athletic Trainer Bag on the market guaranteed</li>
                        </ul>
                    </p>
                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="{{ site.baseurl }}/img/products/athletic-trainer-bags/trainer-bag4.jpg" border="0" alt="" />
                                      <!-- Feature Gallery -->
                         <div id="links">
                            <ul class="gallery clearfix">
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Features">Learn more about bag features</a></li>
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Featrures 2"></a></li>
                            </ul>
                        </div>
                        <!-- End Feature Gallery -->
                </div>
                </div>
        </div>
<!--Row-->
<div class="row">
    <div class="col-sm-6">
        <!-- Product -->
        <div class="category-row">

                <div class="col-sm-12">
                        <h1>Trainer Bag 4(No Wheels)<span class="right">$285</span></h1>

                        <ul>
                            <li class="options"><span class="right"><a href="">Bag Features</a></span></li>
                            <li><strong>Bag Weight(no wheels):</strong> <span class="right">9.8 lbs</span></li>
                            <li><strong>Loaded Dimensions:</strong> <span class="right">12.5" Deep x 13" Wide x 28.5" Long</span></li>
                            <li><strong>Internal Dimensions:</strong> <span class="right">11.5" Tall x 10" Wide x 21" Long</span></li>
                            <li><strong>Minimum Vehicle Space Needed:</strong> <span class="right">12.5" Deep x 13" Wide x 22" Long</span></li>
                        </ul>

                        <p><a href="/shop/athletic-trainer-bags/athletic-trainer-bag-3" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>
<!-- End Product -->

<!-- Product -->
        <div class="category-row">

                <div class="col-sm-12">
                        <h1>Trainer Bag 4(w/Wheels)<span class="right">$335</span></h1>

                        <ul>
                            <li class="options"><span class="right"><a href="">Bag Features</a></span></li>
                            <li><strong>Bag Weight:</strong> <span class="right">14 lbs</span></li>
                            <li><strong>Loaded Dimensions:</strong> <span class="right">15" Deep x 13" Wide x 28.5" Long</span></li>
                            <li><strong>Internal Dimensions:</strong> <span class="right">11.5" Tall x 10" Wide x 21" Long</span></li>
                            <li><strong>Minimum Vehicle Space Needed:</strong> <span class="right">15" Deep x 13" Wide x 22" Long</span></li>
                        </ul>

                        <p><a href="/shop/athletic-trainer-bags/athletic-trainer-bag-3" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>

<!-- End Product -->
</div>
</div>
</section>
</div>
{% include testimonial.html %}