---
layout: default
title: ''
description: ''
keywords: ''
twitter-card:
twitter-site: ''
twitter-title: ''
twitter-description: '.'
twitter-image:
og-title: ''
og-url: http://www.wattsbags.com
og-image:
og-description: ''
og-sitename: 'Watts Bags'
fb-admins: ''
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Medtronic</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/programmer-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Medtronic Open Cart</h1>
                    <p>We recently updated our Open Carts by adding weight to the front of it to help prevent it from tipping forward when the programmer is removed.
                    </p>
                    <p>The Medtronic Open Cart programmer bag is designed to be a light weight compact option to hold and transport your Zoom Programmer, documents, accessories, and cables.  The bag is made of the best materials available and comes standard with our heavy duty wheel system.  There are other companies that have tried to make this bag using cheap wheels and plastics.  Do not be fooled by cheap imitations.  Our Open Carts our built to last
                    </p>

                    <p>
                        <strong>CUSTOM BAG FEATURES:</strong>
                        <ul>
                            <li>Medtronic (or any other) Company Logo</li>
                            <li>You can add your name or any other text to the bag</li>
                            <li>Telescoping pull handle</li>
                            <li>Multiple color options available</li>
                            <li>Our Watts Bags exclusive wheel system</li>
                            <li>Plastic guards to prevent handle from denting</li>
                            <li>Commercial grade buckles, handles, fabrics, and zippers</li>
                            <li>1 Large outer pouch pockets for all of your accessories</li>
                        </ul>

                    </p>

                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="{{ site.baseurl }}/img/products/programmer-bags/Medtronic-Open-Pro-Cart.jpg" border="0" alt="" />
                </div>
                </div>
        </div>
<!--Row-->
<div class="row">
    <div class="col-sm-6">
        <!-- Product -->
        <div class="category-row">
                        <h1>Medtronic Top Loading Programmer Bag<span class="right">$165</span></h1>
                        <ul>
                            <li><strong>Rigid Weight:</strong> <span class="right">6.5 lbs</span></li>
                            <li><strong>External Dimensions:</strong> <span class="right">25" Deep x 15.5" Wide x 10" Long</span></li>
                            <li><strong>Internal Dimensions:</strong> <span class="right">4.25" Deep x 15" Wide x 6.75" Long</span></li>
                        </ul>
                        <p><a href="" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>

<!-- End Product -->
</div>
</section>
</div>
{% include testimonial.html %}