---
layout: default
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Athletic Trainer Bags</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->


</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/athletic-trainer-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
          <p>Watts Bags has been working for 30 years with athletic trainers from many of the nation's top universities, colleges, and professional sport teams. We know what it takes to design a bag that can stand the daily rigors and traveling of an athletic trainer.  All of our Athletic Trainer 1 Bags are hand sewn and assembled in the United States by American workers; we are the only company that makes athletic trainer bags exclusively in the US.  That is why we can offer more bag color selections, bigger logos, and better embroidery quality than anyone. This process can take a little longer than our competitors take, but our bags are heavy duty that will outlast any Chinese-made bag.  If you are done dealing with the frustrations of foreign products, order from Watts Bags.
                    </p>
<!-- Product -->
        <div class="category-row main">

                <div class="col-sm-12">
                    <img class="lazy left" data-original="{{ site.baseurl }}/img/products/athletic-trainer-bags/mini-trainer-bag.jpg" border="0" alt="" />
                        <h1>Mini Athletic Trainer Bags</h1>
                        <p>This lightweight trainer kit is designed to carry a large amount of supplies in a compact space</p>
                        <p><a href="/athletic-trainer-bags/mini-trainer-bags/" class="">Learn More</a> | <a href="" class="">Buy Now</a></p>
                </div>
            </div>
<!-- End Product -->

<!-- Product -->
        <div class="category-row main">

                <div class="col-sm-12">
                    <img class="lazy left" data-original="{{ site.baseurl }}/img/products/athletic-trainer-bags/trainer-bag1.jpg" border="0" alt="" />
                        <h1>Trainer Bag 1</h1>
                        <p>Small in size but huge in features</p>

                        <p><a href="/athletic-trainer-bags/trainer-bag1/" class="">Learn More</a> | <a href="/shop/athletic-trainer-bags/athletic-trainer-bag-1" class="">Buy Now</a></p>
                </div>
            </div>

<!-- End Product -->
<!-- Product -->
        <div class="category-row main">

                <div class="col-sm-12">
                    <img class="lazy left" data-original="{{ site.baseurl }}/img/products/athletic-trainer-bags/trainer-bag2.jpg" border="0" alt="" />
                        <h1>Trainer Bag 2</h1>
                        <p>Medium sized trainer bag with option to add wheels and a telescoping handle</p>

                        <p><a href="/athletic-trainer-bags/trainer-bag2/" class="">Learn More</a> | <a href="/shop/athletic-trainer-bags/athletic-trainer-bag-2" class="">Buy Now</a></p>
                </div>
            </div>

<!-- End Product -->
<!-- Product -->
        <div class="category-row main">

                <div class="col-sm-12">
                    <img class="lazy left" data-original="{{ site.baseurl }}/img/products/athletic-trainer-bags/trainer-bag3.jpg" border="0" alt="" />
                        <h1>Trainer Bag 3</h1>
                        <p>Large trainer bag with option to add rollers and telescoping handle</p>

                        <p><a href="/athletic-trainer-bags/trainer-bag3/" class="">Learn More</a> | <a href="/shop/athletic-trainer-bags/athletic-trainer-bag-3" class="">Buy Now</a></p>
                </div>
            </div>

<!-- End Product -->
<!-- Product -->
        <div class="category-row main">

                <div class="col-sm-12">
                    <img class="lazy left" data-original="{{ site.baseurl }}/img/products/athletic-trainer-bags/trainer-bag4.jpg" border="0" alt="" />
                        <h1>Trainer Bag 4</h1>
                        <p>Same size as the Trainer 3 but with a different interior option</p>

                        <p><a href="/athletic-trainer-bags/trainer-bag4/" class="">Learn More</a> | <a href="/shop/athletic-trainer-bags/athletic-trainer-bag-4" class="">Buy Now</a></p>
                </div>
            </div>

<!-- End Product -->
<!-- Product -->
        <div class="category-row main">

                <div class="col-sm-12">
                    <img class="lazy left" data-original="{{ site.baseurl }}/img/products/athletic-trainer-bags/trainer-bag5.jpg" border="0" alt="" />
                        <h1>Trainer Bag 5</h1>
                        <p>This is our extra large trainer Bag option-the Big Daddy of athletic training bags</p>

                        <p><a href="/athletic-trainer-bags/trainer-bag5/" class="">Learn More</a> | <a href="/shop/athletic-trainer-bags/athletic-trainer-bag-5" class="">Buy Now</a></p>
                </div>
            </div>

<!-- End Product -->
</section>
</div>
{% include testimonial.html %}