<!DOCTYPE html>
<html>
<html lang="en">


<head>
    {% include header.html %}
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
<link rel='stylesheet'  href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css'/>

</head>

<body>
    {% include analytics.html %}

    <header>
            {% include menu.html %}
    </header>

        {{ content }}

    {% include footer.html %}
<script>
var map = L.mapbox.map('map', 'wattsbaggs.hggb92o7')
    .setView([47.961, -37.31], 4);
</script>
</body>
</html>
