---
layout: isotope
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Computer &amp; Duffel Bags</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/other-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
<div class="isotope">
<!-- Product -->
        <div class="category-row main client-name computer-briefcase">
            <div class="col-sm-4">
                <img src="{{ site.baseurl }}/img/products/computer-duffle-bags/city-corp.jpg" border="0" alt="" />
            </div>
                <div class="col-sm-8">
                        <h1>Ogio City Corp Computer Briefcase</h1>
                        <p>This large messenger is actually a mobile office which ditches the bottomless-pit syndrome and keeps multimedia organized and ready.</p>
                        <h3>$79.00</h3>
                        <p><a href="{{ site.baseurl }}/other-bags/computer-briefcases/city-corp-computer/">Learn More</a> | <a href="">Buy Now</a></p>
                </div>
            </div>
<!-- End Product -->
<!-- Product -->
        <div class="category-row main client-name computer-briefcase">
            <div class="col-sm-4">
                <img src="{{ site.baseurl }}/img/products/computer-duffle-bags/Traverese-Wheeled-Briefcase.jpg" border="0" alt="" />
            </div>
                <div class="col-sm-8">
                        <h1>Ogio Traverese Wheeled Briefcase</h1>
                        <p>Designed for business travel, the Traverse handles a laptop and associated tech gadgets with a removable laptop sleeve. An overnight compartment accommodates a change of clothes</p>
                        <h3>$180.00</h3>
                        <p><a href="{{ site.baseurl }}/other-bags/computer-briefcases/traverse-wheeled/" class="">Learn More</a> | <a href="" class="">Buy Now</a></p>
                </div>
            </div>
<!-- End Product -->
<!-- Product -->
        <div class="category-row main client-name computer-backpack">
            <div class="col-sm-4">
                <img src="{{ site.baseurl }}/img/products/computer-duffle-bags/Epic-Computer-Backpack.jpg" border="0" alt="" />
            </div>
                <div class="col-sm-8">
                        <h1>Ogio Epic Computer Backpack</h1>
                        <p>Beyond a backpack, this hold-all is a tech organizer with ingenious compartments and sleeves for gadgets, laptop, cords and more.</p>
                        <h3>$90.00</h3>
                        <p><a href="{{ site.baseurl }}/other-bags/computer-backpacks/epic-computer/" class="">Learn More</a> | <a href="" class="">Buy Now</a></p>
                </div>
            </div>
<!-- End Product -->
<!-- Product -->
        <div class="category-row main client-name computer-backpack">
            <div class="col-sm-4">
                <img src="{{ site.baseurl }}/img/products/computer-duffle-bags/Mastermind-Computer-Backpack.jpg" border="0" alt="" />
            </div>
                <div class="col-sm-8">
                        <h1>Mastermind Computer Backpack</h1>
                        <p>Beyond a backpack, this hold-all is a tech organizer with ingenious compartments and sleeves for gadgets, laptop, cords and more.</p>
                        <h3>$90.00</h3>
                        <p><a href="{{ site.baseurl }}/other-bags/computer-backpacks/mastermind/" class="">Learn More</a> | <a href="" class="">Buy Now</a></p>
                </div>
            </div>
<!-- End Product -->
<!-- Product -->
        <div class="category-row main client-name computer-backpack">
            <div class="col-sm-4">
                <img src="{{ site.baseurl }}/img/products/computer-duffle-bags/Bounty-Hunter-Computer-Backpack.jpg" border="0" alt="" />
            </div>
                <div class="col-sm-8">
                        <h1>Bounty Hunter Computer Backpack</h1>
                        <p>Built to take on work or workouts with compartments for tunes, clothes, and a laptop</p>
                        <h3>$75.00</h3>
                        <p><a href="{{ site.baseurl }}/other-bags/computer-backpacks/bounty-hunter/" class="">Learn More</a> | <a href="" class="">Buy Now</a></p>
                </div>
            </div>
<!-- End Product -->
<!-- Product -->
        <div class="category-row main client-name duffel-bag">
            <div class="col-sm-4">
                <img src="{{ site.baseurl }}/img/products/computer-duffle-bags/Lead-Vest-Duffel-Bag.jpg" border="0" alt="" />
            </div>
                <div class="col-sm-8">
                        <h1>Lead Vest Duffel Bag</h1>
                        <p>A simple and convenient way to store and transport your lead vest</p>
                            <h3>$50.00</h3>
                            <p><a href="{{ site.baseurl }}/other-bags/duffel-bags/lead-vest/" class="">Learn More</a> | <a href="" class="">Buy Now</a></p>

                </div>
            </div>
<!-- End Product -->
<!-- Product -->
        <div class="category-row main client-name duffel-bag">
            <div class="col-sm-4">
                <img src="{{ site.baseurl }}/img/products/computer-duffle-bags/Straight-Zipperd-Duffle-Bag.jpg" border="0" alt="" />
            </div>
                <div class="col-sm-8">
                        <h1>Straight Zippered Duffle Bag</h1>
                        <p>This durable duffel bag is built for a lifetime of use</p>
                        <h3>$79.00</h3>
                        <p><a href="{{ site.baseurl }}/other-bags/duffel-bags/straight-zippered/" class="">Learn More</a> | <a href="" class="">Buy Now</a></p>
                </div>
            </div>
<!-- End Product -->
<!-- Product -->
        <div class="category-row main client-name duffel-bag">
            <div class="col-sm-4">
                <img src="{{ site.baseurl }}/img/products/computer-duffle-bags/Transfer-Duffel-Bag.jpg" border="0" alt="" />
            </div>
                <div class="col-sm-8">
                        <h1>Ogio Transfer Duffel Bag</h1>
                        <p>A traveler’s must-have duffel bag</p>
                        <h3>$79.00</h3>
                        <p><a href="{{ site.baseurl }}/other-bags/duffel-bags/transfer/" class="">Learn More</a> | <a href="" class="">Buy Now</a></p>
                </div>
            </div>
<!-- End Product -->
</section>
</div>
{% include testimonial.html %}