---
layout: default
title: ''
description: ''
keywords: ''
twitter-card:
twitter-site: ''
twitter-title: ''
twitter-description: '.'
twitter-image:
og-title: ''
og-url: http://www.wattsbags.com
og-image:
og-description: ''
og-sitename: 'Watts Bags'
fb-admins: ''
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Accessory Bags</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/accessory-bags-products.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Schwan Bag</h1>
                    <p>This is an exclusive Schwan product bag to carry frozen or refrigerated items.  If you need a similar product or changes to the design, please contact us.
                    </p>

                    <p>
                        <strong>CUSTOM BAG FEATURES:</strong>
                        <ul>
                            <li>Embroidered Schwan logo placed on the front pocket as shown</li>
                            <li>1 inch of foam padding throughout the bag that provides insulation</li>
                            <li>All materials are commercial grade including YKK Zippers</li>
                            <li>Best wheels on the market featuring</li>
                            <li>High end bearings</li>
                            <li>Quiet inline skate wheels</li>
                            <li>Durable telescoping handle</li>
                            <li>Plastic guards to prevent handle from denting</li>
                            <li>1680 denier ballistic material</li>
                        </ul>
                    </p>

                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="http://placehold.it/450X450" border="0" alt="" />
                </div>
                </div>
        </div>
</section>


<section class="center">

<!-- Product -->
        <div class="category-row">
                <div class="col-sm-2">
                        <img class="lazy" data-original="http://placehold.it/175X175" border="0" alt="" />
                </div>

                <div class="col-sm-6">
                        <h1>Product Name</h1>

                        <ul>
                            <li><strong>External Bag Size:</strong> <span class="right">19" tall x 19" wide x 18" long</span></li>
                            <li><strong>Internal Bag Size:</strong> <span class="right">11" tall x 18 x wide x 17" long</span></li>
                            <li><strong>Bag Weighs:</strong> <span class="right">10lbs</span></li>
                        </ul>
                        <a href="">Learn more about bag features</a>
                </div>

                <div class="col-sm-4">

                        <ul>
                            <li class="price"><strong>Price:</strong> <span class="right">$155</span></li>
                        </ul>
                        <p><a href="" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>

<!-- End Product -->

</section>
</div>
{% include testimonial.html %}