---
layout: default
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Marketing H3 or H2</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products" class"home">
    <section class="center">
        {% include sub-menu/professional-sales-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Travel Bags</h1>
                    <p>Our sales bags have been designed and improved over the last two decades by active medical sales representatives.  This evolutionary process has created heavy duty bags built for everyday use with a wheel system that glides smoothly and quietly over all surfaces and compartments that can be specifically customized to organize your unique supplies.  These custom-made bags are perfect for your trunk stock or other storage needs.
                    </p>

                    <p>
                        <strong>CUSTOM BAG FEATURES:</strong>
                        <ul>
                            <li>Embroidery options for up to 3 sides of the bag</li>
                            <li>Foam padding throughout the inside and hard plastic on the outside to protect your equipment</li>
                            <li>Interior foam padding and exterior hard plastic to protect your equipment</li>
                            <li>Commercial grade materials</li>
                            <li>8 zipper pockets for literature and product storage</li>
                            <li>Our Watts Bags exclusive wheel system</li>
                            <li>Customizable interior with removable/adjustable divider system</li>
                            <li>Lid pouch pocket to carry long boxes outside of bag</li>
                            <li>Add-on strap that wraps around the handle of a briefcase, laptop bag, purse, etc</li>
                        </ul>
                    </p>

                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="/img/products/professional-sales-bag/all.jpg" border="0" alt="" />
                </div>
                </div>
        </div>
</section>


<section class="center">

<!-- Product -->
        <div class="category-row">
                <div class="col-sm-2">
                        <img class="lazy" data-original="http://placehold.it/175X175" border="0" alt="" />
                </div>

                <div class="col-sm-6">
                        <h1>Professional Sales Bag A</h1>

                        <ul>
                            <li><strong>Rigid Weight:</strong> <span class="right">15.75 pounds</span></li>
                            <li><strong>Lightened Weight:</strong> <span class="right">12.7 pounds</span></li>
                            <li><strong>Empty Dimensions:</strong> <span class="right">15" Deep x 15.5" Wide x 26.5" Long</span></li>
                            <li><strong>Loaded Dimensions:</strong> <span class="right">17" Deep x 15.5" Wide x 36" Long</span></li>
                            <li><strong>Internal Dimensions:</strong> <span class="right">11" Deep x 14.5" Wide x 27" Long</span></li>
                            <li><strong>Minimum Vehicle Space Needed:</strong> <span class="right">17" Deep x 15.5" Wide x 36" Long</span></li>
                        </ul>
                        <a href="">Learn more about bag features</a>
                </div>

                <div class="col-sm-4">

                        <ul>
                            <li><strong>Available Colors:</strong> {% include colors.html %}</li>
                            <li><strong>Watts Wheel System:</strong> <span class="right">Yes</span></li>
                            <li><strong>Internal Divider Options:</strong> <span class="right">Yes</span></li>
                            <li><strong>Custom Embroidery:</strong> <span class="right">Yes</span></li>
                            <li class="price"><strong>Price:</strong> <span class="right">$355</span></li>
                        </ul>
                        <p><a href="" class="learnMoreButton">Order Bag</a></p>
                </div>
            </div>

<!-- End Product -->


</section>
</div>
{% include testimonial.html %}