---
layout: default
title: ''
description: ''
keywords: ''
twitter-card:
twitter-site: ''
twitter-title: ''
twitter-description: '.'
twitter-image:
og-title: ''
og-url: http://www.wattsbags.com
og-image:
og-description: ''
og-sitename: 'Watts Bags'
fb-admins: ''
---

<div id="hero">
<div id="carousel-sub" class="carousel slide carousel-fade">

  <div class="carousel-inner">

    <div id="hero-1" class="item active">
        <section class="center">
            <h3>Implant Bag for Biotronik Trunk Stock</h3>
        </section>
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

</div>

<!-- Product Sub Menu -->
<div id="menu-products">
    <section class="center">
        {% include sub-menu/professional-sales-bags.html %}
    </section>
</div>
<!-- / Product Sub Menu -->

<section class="center">
            <div class="row">
                <div class="col-sm-7">

                    <h1>Biotronik Implant Bag</h1>
                    <p>The Biotronik Implant Bag was designed and improved over the last two decades by active medical representatives. This evolutionary process has created a customizable bag built for everyday use with a wheel system that glides smoothly and quietly over all surfaces and compartments that can be specifically customized to organize your unique supplies.  This bag is great for anyone needing a heavy duty bag that can be used to safely transport and protect your expensive equipment.
                    </p>

                    <p>
                        <strong>CUSTOM BAG FEATURES:</strong>
                        <ul>
                            <li>Embroidery options for up to 3 sides of the bag</li>
                            <li>Foam padding throughout the inside and hard plastic on the outside to protect your equipment</li>
                            <li>Interior foam padding and exterior hard plastic to protect your equipment</li>
                            <li>Commercial grade materials</li>
                            <li>Multiple color options available</li>
                            <li>8 zipper pockets for literature and product storage</li>
                            <li>Our Watts Bags exclusive wheel system</li>
                            <li>Lid pouch pocket to carry long boxes outside of bag</li>
                            <li>Add-on strap that wraps around the handle of a briefcase, laptop bag, purse, etc</li>
                        </ul>
                    </p>

                </div>

                <div class="col-sm-5">
                <div id="trip-panel">
                    <img class="lazy" data-original="http://placehold.it/450X450" border="0" alt="" />
                        <!-- Feature Gallery -->
                         <div id="links">
                            <ul class="gallery clearfix">
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Features">Learn more about bag features</a></li>
                                <li><a href="{{ site.baseurl }}/img/temp.jpg" title="Professional Sales Featrures 2"></a></li>
                            </ul>
                        </div>
                        <!-- End Feature Gallery -->
                </div>
                </div>
        </div>
<!--Row-->
<div class="row">
    <div class="col-sm-6">
        <!-- Product -->
        <div class="category-row">
                        <h1>Biotronik Implant Bag<span class="right">$370</span></h1>

                        <ul>
                            <li class="options"><a href="">How to Size your Bag</a> <span class="right"><a href="">Bag Features</a></span></li>
                            <li>
                                <strong>Rigid Weight:</strong>
                                <span class="right">17.6 lbs</span>
                            </li>
                            <li>
                                <strong>Lightened Weight:</strong>
                                <span class="right">14.25 lbs</span>
                            </li>
                            <li>
                                <strong>Loaded Dimensions:</strong>
                                <span class="right">19.5" Deep x 15.5" Wide x 36" Long</span>
                            </li>
                            <li>
                                <strong>Internal Dimensions:</strong>
                                <span class="right">13.5" Deep x 14.5" Wide x 27" Long</span>
                            </li>
                            <li>
                                <strong>Minimum Vehicle Space Needed:</strong>
                                <span class="right">17" Deep x 15.5" Wide x 32" Long</span>
                            </li>

                        </ul>

                        <p><a href="" class="learnMoreButton">Order &amp; Customize</a></p>
                </div>
            </div>

<!-- End Product -->
</div>
<p class="small">
    <a href="/professional-sales-bags/professional-sales-bags-a-e/">*Will a smaller bag would better fit your needs?</a>
    <a href="/oversized-sales-bags/">*Maybe a larger bag is what you are looking for?</a>
</p>

</section>
</div>
{% include testimonial.html %}